# Customer Analysis Case Study - Part Two

## Activity 3

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#### Loading Data

In [5]:
def load_original_data():
    file4 = pd.read_csv('data/file4.csv', index_col=False)
    return file4

In [6]:
insurance_df = load_original_data()

In [7]:
insurance_df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

#### Standarizing header names

Drop the index column first:

In [8]:
def drop_columns(insurance_df):
    insurance_df.drop(columns=["Unnamed: 0"], inplace=True, axis=1)
    return insurance_df

In [9]:
insurance_df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [10]:
def lower_case_column_names(insurance_df):
    insurance_df.columns=[i. lower() for i in insurance_df.columns]
    return insurance_df

In [11]:
insurance_df = lower_case_column_names(insurance_df)

In [12]:
insurance_df

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter, ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [13]:
def extract_months_and_create_a_new_column(insurance_df):
    insurance_df['month'] = pd.to_datetime(insurance_df['effective to date']).dt.month
    return insurance_df

In [14]:
insurance_df = extract_months_and_create_a_new_column(insurance_df)
insurance_df

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,1

Convert integer to categorical data type:

In [15]:
def convert_to_categorical_data(insurance_df):
    insurance_df['month'] = insurance_df['month'].astype("category")
    insurance_df['month'].cat.categories = ['january','feburary']
    return insurance_df

In [16]:
insurance_df = convert_to_categorical_data(insurance_df)

In [17]:
insurance_df['month'].dtype

CategoricalDtype(categories=['january', 'feburary'], ordered=False)

In [18]:
print('df[filter_]')
insurance_df[]

SyntaxError: invalid syntax (1217944793.py, line 2)

## Activity 4

Numeric data in dataframe 'numerical':

In [ ]:
def create_numerical_df(insurance_df):
    numerical = insurance_df.select_dtypes(include = np.number)
    return numerical

In [ ]:
numerical

Categorical data in dataframe 'categoricals':

In [ ]:
def create_categorical_df(insurance_df):
    categoricals = insurance_df.select_dtypes('object')
    return categoricals

In [ ]:
categoricals = create_categorical_df(insurance_df)

In [ ]:
categoricals

Lower all objects in the categorical dataframe:

In [ ]:
categoricals.apply(lambda x: x.astype(str).str.lower())

### Visualization

Check the normality of the numerical variables visually.

In [ ]:
numerical.columns

In [ ]:
sns.pairplot(numerical)

Let's have a closer look at the correlation between 'monthly premium auto' and 'customer lifetime value'

In [ ]:
plt.scatter(x=numerical['monthly premium auto'], y=numerical['customer lifetime value'])

In [ ]:
plt.scatter(x=numerical['monthly premium auto'], y=numerical['total claim amount'])

In [ ]:
plt.scatter(x=numerical['customer lifetime value'],y=numerical['monthly premium auto'])

In [ ]:
numerical.hist(figsize=(12,12))

In [ ]:
sns.displot(numerical['monthly premium auto'])

In [ ]:
sns.displot(numerical['total claim amount'])

To check outliers, use the sns.boxplot function in seaborn library:

In [ ]:
numerical.corr()

#### Creat a heatmap

In [ ]:
corr = numerical.corr()

In [ ]:
mask = np.zeros_like(corr)

In [ ]:
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(9, 7))
    ax = sns.heatmap(corr, mask=mask,cmap='coolwarm', vmin=-1, vmax=1, annot=True,square=True)

Highly Correlated Columns

In [ ]:
def drop_high_correlated_columns(insurance_df, threshold):
    corr_matrix = insurance_df.corr().abs()
    upper_triangle = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    [column for column in upper_triangle.columns if any(upper_triangle[column]>threshold)]

Drop one of the two features that show a high correlation between them (greater than 0.9). If there is no pair of features that have a high correlation, then do not drop any features.

In [ ]:
drop_high_correlated_columns(insurance_df, 0.9)

In [ ]:
insurance_df

## Activity 5

- Show a plot of the total number of responses:

In [ ]:
response_rate = insurance_df['response'].value_counts().sort_index()

In [ ]:
response_rate

In [ ]:
response_rate_bar = sns.countplot(x='response', data=insurance_df)

- Show a plot of the response rate by the sales channel:

In [ ]:
response_rate_by_sales_channel = sns.countplot(x='sales channel', hue= 'response', data=insurance_df)

- Show a plot of the response rate by the total claim amount:

In [ ]:
response_rate_by_total_claim_amount = sns.countplot(x='total claim amount', hue= 'response', data= insurance_df)

In [ ]:
response_claim_together = insurance_df.groupby(['total claim amount'])['response'].count().reset_index()

In [ ]:
response_claim_together

In [ ]:
claim_amount_bins = pd.cut(insurance_df['total claim amount'], labels = ['Low', 'Moderate', 'High', 'Very High'], bins=4)

In [ ]:
response_rate_by_claim_amount = sns.countplot(x=claim_amount_bins, hue= 'response', data = insurance_df)

In [ ]:
fig4, ax4 = plt.subplots(figsize=(12,8))
ax4.set_title('Response Rate By Total Claim Amount', size='25', fontweight='bold')

sns.barplot(x = response_claim_together['total claim amount'], y=response_claim_together['response'], ax = ax4)

- Show a plot of the response rate by income:

In [ ]:
response_rate_by_income = sns.countplot(x='income', hue= 'response', data=insurance_df)

In [ ]:
income_response_rate = insurance_df.groupby(['income'])['response'].count().reset_index()

In [ ]:
income_response_rate

In [ ]:
updated_income_response_rate = income_response_rate.drop(income_response_rate.index[[0]])

In [ ]:
updated_income_response_rate

Creating buckets

In [ ]:
income_bins = pd.cut(updated_income_response_rate['income'], labels = ['Low','Medium','High'], bins = 3)

In [ ]:
income_bins

In [ ]:
response_rate_by_income = sns.countplot(x=income_bins, hue='response', data= updated_income_response_rate)

In [ ]:
#def creating_bins(income_response_rate):
    income_bins = pd.cut(insurance_df['income'], labels = ['Low', 'Medium', 'High'], bins = 3)
    return income_buckets

In [ ]:
income_buckets = pd.cut(insurance_df['income'], labels = ['Low', 'Medium', 'High'], bins = 3)

In [ ]:
creating_buckets(insurance_df)

In [ ]:
response_rate_by_income = sns.countplot(x = 'income_buckets', hue= 'response', data=insurance_df)

#### Plot interesting findings/insights:

Let's check the relation between emloymentstatus and response rate:

In [ ]:
employmentstatus_response_rate = insurance_df.groupby(['employmentstatus'])['response'].count().reset_index()

In [ ]:
employmentstatus_response_rate

Retired people have more time to respond?

In [ ]:
sns.countplot(x= 'employmentstatus', hue='response', data= insurance_df)

In [ ]:
respond_by_policy_type = insurance_df.groupby(['policy type'])['respond'].count().reset_index()

In [ ]:
sns.countplot(x='policy type', hue='respond', data=insurance_df)

In [ ]:
sns.countplot(x='monthly premium auto', hue='total claim amount', data=insurance_df)

State and income:

In [ ]:
income_by_state = insurance_df.groupby(['state'])['income'].count().reset_index()

In [ ]:
income_by_state

In [ ]:
sns.countplot(x= 'state', hue='income', data= insurance_df)