## Analyis_Case_Study

Import libraries and concatinate the csv_files first

In [92]:
import numpy as np
import pandas as pd

#### Rename the columsn 'State' and 'Gender' in file3 and merge the files together

In [93]:
file3_df = pd.read_csv('data/file3.csv')

In [94]:
def rename_columns(file3_df):
    file3_df.rename(columns ={'State':'ST', 'Gender':'GENDER'}, inplace = True)
    return file3_df

In [95]:
rename_columns(file3_df)

,Customer,ST,Customer Lifetime Value,Education,GENDER,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [96]:
def concatinate_data_files():
    file1 = pd.read_csv('data/file1.csv')
    file2 = pd.read_csv('data/file2.csv')
    file3 = file3_df
    return pd.concat([file1,file2,file3], axis=0)

In [99]:
insurance_df = concatinate_data_files()

In [100]:
insurance_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### Standarizing header names

First lower case column names:

In [101]:
def lower_case_column_names(insurance_df):
    insurance_df.columns=[i. lower() for i in insurance_df.columns]
    return insurance_df

In [102]:
insurance_df = lower_case_column_names(insurance_df)

In [103]:
insurance_df

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### Rename columns

In [104]:
def rename_columns(insurance_df):
    insurance_df.rename(columns = {'st':'state'}, inplace = True)
    return insurance_df

In [105]:
insurance_df = rename_columns(insurance_df)

In [106]:
insurance_df

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### Deleting and rearranging columns

Deleting the column customer:

In [107]:
def drop_columns(insurance_df):
    insurance_df.drop(columns=['customer'], inplace=True)
    return insurance_df

In [108]:
insurance_df = drop_columns(insurance_df)

In [109]:
insurance_df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

Rearranging columns:

In [110]:
list(insurance_df.columns)

['state',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'vehicle class',
 'total claim amount']

In [111]:
insurance_df = insurance_df[[
    'state',
    'gender',
    'education',
    'income',
    'customer lifetime value',
    'vehicle class',
    'monthly premium auto',
    'policy type',
    'number of open complaints',
    'total claim amount']]

In [112]:
insurance_df.head()

,state,gender,education,income,customer lifetime value,vehicle class,monthly premium auto,policy type,number of open complaints,total claim amount
0,Washington,NaN,Master,0.0,NaN,Four-Door Car,1000.0,Personal Auto,1/0/00,2.704934
1,Arizona,F,Bachelor,0.0,697953.59%,Four-Door Car,94.0,Personal Auto,1/0/00,1131.464935
2,Nevada,F,Bachelor,48767.0,1288743.17%,Two-Door Car,108.0,Personal Auto,1/0/00,566.472247
3,California,M,Bachelor,0.0,764586.18%,SUV,106.0,Corporate Auto,1/0/00,529.881344
4,Washington,M,High School or Below,36357.0,536307.65%,Four-Door Car,68.0,Personal Auto,1/0/00,17.269323

#### Check the data type

In [113]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   income                     9137 non-null   float64
 4   customer lifetime value    9130 non-null   object
 5   vehicle class              9137 non-null   object
 6   monthly premium auto       9137 non-null   float64
 7   policy type                9137 non-null   object
 8   number of open complaints  9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 1.0+ MB

The columns 'customer lifetime value' and 'number of open complaints' have as data type object.

We need to convert them to the data type float:

In [114]:
insurance_df['customer lifetime value'].unique().tolist()

[nan,
 '697953.59%',
 '1288743.17%',
 '764586.18%',
 '536307.65%',
 '825629.78%',
 '538089.86%',
 '721610.03%',
 '2412750.40%',
 '738817.81%',
 '473899.20%',
 '819719.71%',
 '879879.70%',
 '881901.89%',
 '538443.17%',
 '746313.94%',
 '256686.78%',
 '394524.16%',
 '571033.31%',
 '816261.71%',
 '287205.13%',
 '617710.93%',
 '245019.10%',
 '239210.79%',
 '580206.60%',
 '394637.21%',
 '916206.32%',
 '1290256.01%',
 '323536.05%',
 '245458.35%',
 '1897545.61%',
 '471532.13%',
 '473787.17%',
 '493291.63%',
 '574422.97%',
 '1389173.57%',
 '738097.67%',
 '309003.41%',
 '252163.31%',
 '265206.18%',
 '277104.50%',
 '393900.64%',
 '1223187.97%',
 '495165.61%',
 '1281910.29%',
 '446851.05%',
 '551434.40%',
 '334387.53%',
 '229447.89%',
 '3670742.64%',
 '3347334.95%',
 '798343.17%',
 '487938.48%',
 '429399.73%',
 '716439.55%',
 '761951.58%',
 '395800.28%',
 '449949.33%',
 '405956.74%',
 '445811.34%',
 '811033.31%',
 '333976.49%',
 '2426101.78%',
 '661397.37%',
 '293069.35%',
 '867219.43%',
 '1163866.93%',
 '684615.03%',
 '1172777.65%',
 '2264383.48%',
 '261447.43%',
 '245175.27%',
 '678127.02%',
 '497480.15%',
 '859160.49%',
 '559216.14%',
 '800947.28%',
 '5816655.35%',
 '802522.94%',
 '578018.22%',
 '411853.91%',
 '252307.02%',
 '655421.64%',
 '538275.20%',
 '592672.94%',
 '268347.07%',
 '269518.24%',
 '604702.52%',
 '1317101.28%',
 '1595001.95%',
 '252765.38%',
 '267209.58%',
 '531329.40%',
 '2094619.25%',
 '837535.39%',
 '480166.15%',
 '574594.33%',
 '606611.60%',
 '800230.83%',
 '239391.54%',
 '476281.79%',
 '433038.60%',
 '940272.98%',
 '696669.45%',
 '769406.43%',
 '871756.11%',
 '592874.85%',
 '245297.73%',
 '670157.17%',
 '499655.27%',
 '849269.88%',
 '771349.40%',
 '518579.76%',
 '729006.98%',
 '477294.38%',
 '680649.14%',
 '246978.13%',
 '310392.30%',
 '1048491.54%',
 '890273.76%',
 '549944.72%',
 '1502359.86%',
 '250910.79%',
 '3122174.81%',
 '313350.34%',
 '383745.19%',
 '1179049.62%',
 '282986.39%',
 '430580.83%',
 '597397.69%',
 '567044.24%',
 '473174.93%',
 '802637.96%',
 '402296.35%',
 '961831.09%',
 '725595.38%',
 '955292.69%',
 '1038855.32%',
 '247012.12%',
 '561906.85%',
 '904711.92%',
 '268731.41%',
 '373150.46%',
 '366077.03%',
 '792882.93%',
 '501175.16%',
 '798825.83%',
 '388545.64%',
 '935773.78%',
 '254068.98%',
 '488516.25%',
 '975330.71%',
 '294615.37%',
 '258111.09%',
 '351738.58%',
 '974335.01%',
 '387364.70%',
 '764928.20%',
 '228759.69%',
 '825576.39%',
 '871492.21%',
 '681923.12%',
 '741619.73%',
 '777115.90%',
 '696834.19%',
 '425028.26%',
 '1977656.65%',
 '2134346.60%',
 '241313.97%',
 '1536384.72%',
 '845696.19%',
 '218964.25%',
 '463998.16%',
 '382443.13%',
 '596811.89%',
 '859033.50%',
 '407663.47%',
 '1225260.18%',
 '1693627.15%',
 '489243.55%',
 '994230.48%',
 '373583.81%',
 '1311752.22%',
 '457452.41%',
 '547006.06%',
 '297884.60%',
 '641096.75%',
 '447902.31%',
 '238373.19%',
 '276449.37%',
 '792010.54%',
 '688909.80%',
 '327419.46%',
 '995170.77%',
 '252155.57%',
 '2370611.34%',
 '1114030.25%',
 '433406.41%',
 '279974.79%',
 '792313.66%',
 '368811.09%',
 '1206745.60%',
 '292497.67%',
 '1501409.27%',
 '927723.38%',
 '627412.39%',
 '388664.74%',
 '438627.76%',
 '1136526.77%',
 '561096.43%',
 '291289.20%',
 '691572.99%',
 '626266.33%',
 '650339.70%',
 '800739.94%',
 '292991.65%',
 '596955.30%',
 '547315.99%',
 '564539.67%',
 '636926.24%',
 '1183376.73%',
 '612110.79%',
 '515936.97%',
 '251459.20%',
 '866861.13%',
 '496096.54%',
 '550413.90%',
 '750745.54%',
 '3226985.14%',
 '565703.16%',
 '506175.79%',
 '591278.38%',
 '1518227.98%',
 '1074703.09%',
 '205062.35%',
 '246544.49%',
 '534312.13%',
 '811982.91%',
 '460526.52%',
 '640878.56%',
 '237653.35%',
 '321107.00%',
 '509452.23%',
 '2575527.82%',
 '867222.97%',
 '804473.07%',
 '400151.91%',
 '1670611.70%',
 '854441.11%',
 '780531.29%',
 '611275.69%',
 '1097909.56%',
 '500426.38%',
 '1322304.38%',
 '262331.54%',
 '1784019.56%',
 '510611.18%',
 '1793060.45%',
 '545734.26%',
 '656364.41%',
 '481252.52%',
 '2932804.19%',
 '577352.07%',
 '684711.89%',
 '359531.29%',
 '2285561.21%',
 '785941.46%',
 '411557.74%',
 '502963.88%',
 '482141.85%',
 '500431.05%',
 '863005.39%',
 '932208.51%',
 '1672756.06%',
 '365253.24%',
 '615860.12%',
 '437608.40%',
 '556945.62%',
 '257651.30%',
 '834698.32%',
 '632392.39%',
 '597314.34%',
 '470667.70%',
 '809341.03%',
 '503574.46%',
 '902786.72%',
 '728888.48%',
 '1804247.94%',
 '499206.30%',
 '910226.78%',
 '254040.77%',
 '1294189.19%',
 '236534.86%',
 '572076.51%',
 '703553.41%',
 '263697.77%',
 '539583.20%',
 '838263.01%',
 '3116174.52%',
 '288774.23%',
 '742584.53%',
 '2558572.78%',
 '1027260.82%',
 '437636.36%',
 '531889.66%',
 '471976.22%',
 '442803.16%',
 '587917.61%',
 '941690.85%',
 '828815.56%',
 '3265483.83%',
 '471945.01%',
 '390347.48%',
 '545725.97%',
 '272535.64%',
 '443397.37%',
 '533246.27%',
 '231509.50%',
 '541195.37%',
 '958733.23%',
 '2210350.72%',
 '976494.53%',
 '256715.15%',
 '265062.28%',
 '1126436.33%',
 '216852.35%',
 '861066.75%',
 '283464.62%',
 '893013.97%',
 '553638.70%',
 '284085.43%',
 '808288.10%',
 '525473.43%',
 '511623.76%',
 '303464.70%',
 '802489.99%',
 '1821114.32%',
 '512156.33%',
 '215017.86%',
 '559538.99%',
 '756282.40%',
 '538585.32%',
 '267805.83%',
 '942256.79%',
 '360586.03%',
 '776259.06%',
 '2344490.05%',
 '255817.82%',
 '265438.10%',
 '254978.61%',
 '296959.33%',
 '436312.46%',
 '588430.86%',
 '527219.16%',
 '550989.57%',
 '1631368.35%',
 '567805.02%',
 '1210120.88%',
 '245357.08%',
 '507566.27%',
 '321497.94%',
 '1227534.31%',
 '272221.07%',
 '245744.09%',
 '355484.53%',
 '492954.97%',
 '803645.03%',
 '427691.53%',
 '596058.14%',
 '4479546.94%',
 '383211.81%',
 '683793.26%',
 '528526.82%',
 '309651.12%',
 '358971.07%',
 '258240.85%',
 '340391.94%',
 '1357567.60%',
 '343613.43%',
 '2868582.79%',
 '450267.97%',
 '618311.15%',
 '1892933.06%',
 '555329.58%',
 '501125.92%',
 '1044244.63%',
 '219961.78%',
 '512317.09%',
 '748431.05%',
 '261302.31%',
 '908063.97%',
 '1377097.62%',
 '287682.29%',
 '540891.15%',
 '677030.68%',
 '2414387.56%',
 '353805.95%',
 '2909123.94%',
 '1983420.12%',
 '473136.70%',
 '3553784.60%',
 '3461137.90%',
 '2021630.88%',
 '1397651.93%',
 '590408.82%',
 '559583.50%',
 '229430.36%',
 '627391.19%',
 '372672.80%',
 '265671.31%',
 '511068.08%',
 '712659.65%',
 '460163.41%',
 '915523.97%',
 '1480805.62%',
 '890167.84%',
 '573459.82%',
 '417769.70%',
 '2777628.91%',
 '1036434.75%',
 '785190.14%',
 '1422650.49%',
 '287543.24%',
 '504129.96%',
 '436293.12%',
 '962452.44%',
 '2191440.55%',
 '694842.22%',
 '247152.84%',
 '2190391.36%',
 '902882.14%',
 '530375.95%',
 '2070825.88%',
 '512376.81%',
 '949234.30%',
 '820486.32%',
 '987729.57%',
 '481500.97%',
 '627701.17%',
 '826063.98%',
 '254945.00%',
 '1131808.98%',
 '380392.18%',
 '863540.35%',
 '551055.90%',
 '358588.41%',
 '488925.28%',
 '275694.17%',
 '328954.74%',
 '1093717.85%',
 '737556.79%',
 '1011077.82%',
 '511941.43%',
 '853383.20%',
 '222476.80%',
 '804280.38%',
 '255443.71%',
 '1807394.00%',
 '243050.66%',
 '316765.84%',
 '546560.40%',
 '1035751.42%',
 '253781.39%',
 '282194.72%',
 '775712.81%',
 '407913.27%',
 '595554.46%',
 '1415861.36%',
 '848723.80%',
 '628547.69%',
 '1147348.15%',
 '494263.06%',
 '2359468.02%',
 '257250.66%',
 '477055.09%',
 '675665.14%',
 '593601.18%',
 '357076.05%',
 '601996.05%',
 '542686.40%',
 '273031.38%',
 '498268.14%',
 '876926.68%',
 '422061.35%',
 '1153750.51%',
 '588718.20%',
 '470058.38%',
 '1096395.72%',
 '252317.12%',
 '375780.47%',
 '1294173.35%',
 '376446.51%',
 '688955.70%',
 '362345.42%',
 '758211.38%',
 '827774.56%',
 '257645.56%',
 '820538.79%',
 '1958246.89%',
 '648152.66%',
 '259931.09%',
 '983033.76%',
 '1044265.14%',
 '3605753.70%',
 '847003.68%',
 '827878.65%',
 '478893.26%',
 '308799.99%',
 '444373.62%',
 '798408.65%',
 '718097.10%',
 '1565603.43%',
 '2071494.04%',
 '533735.24%',
 '505082.62%',
 '511662.40%',
 '726873.70%',
 '261661.39%',
 '373843.62%',
 '545386.12%',
 '617291.42%',
 '1034632.45%',
 '699700.86%',
 '419625.77%',
 '785810.98%',
 '606434.40%',
 '1749752.20%',
 '897064.73%',
 '592311.72%',
 '3585059.94%',
 '870984.53%',
 '1330933.52%',
 '452850.49%',
 '279190.65%',
 '443441.12%',
 '799600.75%',
 '512973.90%',
 '569717.52%',
 '921713.06%',
 '1020892.76%',
 '417068.73%',
 '450540.58%',
 '310756.86%',
 '552866.50%',
 '504586.67%',
 '296272.25%',
 '866595.64%',
 '1141344.12%',
 '1548843.20%',
 '886114.95%',
 '593474.15%',
 '354323.21%',
 '349002.83%',
 '368309.99%',
 '598977.39%',
 '1250084.30%',
 '860915.82%',
 '249745.51%',
 '701917.72%',
 '538792.63%',
 '616555.75%',
 '273020.29%',
 '516211.69%',
 '793706.48%',
 '860815.72%',
 '263254.58%',
 '778500.42%',
 '2163983.86%',
 '498082.50%',
 '745723.78%',
 '1064093.93%',
 '686250.83%',
 '904898.34%',
 '554803.19%',
 '831268.16%',
 '238998.10%',
 '529574.17%',
 '383960.61%',
 '277890.37%',
 '401654.20%',
 '493094.93%',
 '249131.70%',
 '290887.59%',
 '428294.80%',
 '834162.37%',
 '509078.13%',
 '736618.83%',
 '243687.51%',
 '885268.87%',
 '2387547.68%',
 '560049.65%',
 '463654.65%',
 '757334.51%',
 '1469663.55%',
 '897214.03%',
 '772484.01%',
 '594667.07%',
 '800054.51%',
 '645756.10%',
 '728144.01%',
 '259243.78%',
 '467842.34%',
 '1386992.71%',
 '871777.78%',
 '523398.68%',
 '476418.97%',
 '247246.92%',
 '281369.26%',
 '550505.70%',
 '260620.85%',
 '1048194.38%',
 '325676.64%',
 '3047578.05%',
 '636490.22%',
 '946850.93%',
 '563145.19%',
 '778099.93%',
 '981652.83%',
 '751913.36%',
 '1017971.70%',
 '277283.92%',
 '403750.18%',
 '419196.61%',
 '267686.79%',
 '252395.96%',
 '698840.16%',
 '874205.78%',
 '267331.96%',
 '1215732.99%',
 '295776.40%',
 '717390.94%',
 '309953.80%',
 '841568.46%',
 '2684312.45%',
 '1305717.07%',
 '959995.02%',
 '853510.89%',
 '829348.19%',
 '663685.98%',
 '560908.25%',
 '507732.09%',
 '527562.70%',
 '343525.01%',
 '662461.18%',
 '575744.23%',
 '288645.16%',
 '534143.88%',
 '416001.81%',
 '284624.54%',
 '477025.66%',
 '505961.62%',
 '909574.46%',
 '268886.40%',
 '827763.76%',
 '905793.53%',
 '380175.04%',
 '933934.16%',
 '252012.32%',
 '498409.53%',
 '259574.80%',
 '743769.33%',
 '1453678.76%',
 '591330.59%',
 '277166.30%',
 '2919436.64%',
 '988038.58%',
 '1511440.24%',
 '575991.08%',
 '849516.42%',
 '438118.42%',
 '699782.74%',
 '1143058.85%',
 '748248.61%',
 '859691.66%',
 '785496.08%',
 '907576.82%',
 '411858.86%',
 '515281.96%',
 '651297.65%',
 '2778969.24%',
 '266727.00%',
 '1092840.71%',
 '761538.13%',
 '200435.07%',
 '243468.12%',
 '1419536.03%',
 '942768.49%',
 '1198242.09%',
 '310278.95%',
 '422263.12%',
 '402381.44%',
 '529715.18%',
 '2142363.72%',
 '441620.62%',
 '463903.52%',
 '486354.46%',
 '2583090.98%',
 '297431.49%',
 '206445.88%',
 '1006460.83%',
 '803240.19%',
 '548921.41%',
 '261275.67%',
 '857346.39%',
 '855038.66%',
 '230864.80%',
 '425462.07%',
 '898285.04%',
 '786816.60%',
 '770424.87%',
 '1055217.00%',
 '1604510.95%',
 '873783.75%',
 '545489.07%',
 '770528.33%',
 '703926.24%',
 '883808.56%',
 '873352.73%',
 '959747.48%',
 '450666.02%',
 '1785797.23%',
 '249780.82%',
 '542613.62%',
 '799814.38%',
 '289762.07%',
 '1159950.22%',
 '1514793.06%',
 '543576.78%',
 '1329771.23%',
 '992704.97%',
 '1777154.90%',
 '1826927.02%',
 '708321.24%',
 '588950.91%',
 '1577139.34%',
 '528817.33%',
 '2758055.40%',
 '777853.23%',
 '734186.13%',
 '791919.70%',
 '216387.02%',
 '978780.88%',
 '520764.08%',
 '2114727.72%',
 '1228076.66%',
 '244139.42%',
 '653556.06%',
 '920659.83%',
 '483820.90%',
 '462554.81%',
 '1404210.30%',
 '754661.35%',
 '517035.84%',
 '1391737.72%',
 '1131813.08%',
 '427636.36%',
 '432224.03%',
 '447177.82%',
 '849635.28%',
 '2250088.35%',
 '1630196.76%',
 '231973.59%',
 '871704.98%',
 '286011.17%',
 '245340.83%',
 '2498022.55%',
 '748263.95%',
 '245757.60%',
 '237974.12%',
 '828696.44%',
 '465715.95%',
 '1319792.89%',
 '280391.67%',
 '864650.41%',
 '742587.06%',
 '452873.74%',
 '222707.28%',
 '729294.88%',
 '318435.52%',
 '1131520.37%',
 '253070.51%',
 '1836155.53%',
 '864153.00%',
 '327853.19%',
 '527198.21%',
 '376363.77%',
 '1395556.96%',
 '500152.75%',
 '708283.04%',
 '761948.28%',
 '1255088.20%',
 '3219660.04%',
 '679377.41%',
 '527231.97%',
 '626534.33%',
 '854758.61%',
 '278742.37%',
 '462680.11%',
 '866336.40%',
 '387222.22%',
 '517081.15%',
 '896028.02%',
 '547183.43%',
 '3493100.17%',
 '262039.23%',
 '1906949.95%',
 '4022401.36%',
 '270148.83%',
 '371243.05%',
 '2185084.00%',
 '784016.58%',
 '823703.79%',
 '224347.39%',
 '843446.41%',
 '517002.60%',
 '264144.61%',
 '279068.30%',
 '274512.98%',
 '757953.27%',
 '1097878.03%',
 '825506.01%',
 '474773.46%',
 '354090.43%',
 '258218.53%',
 '1166509.78%',
 '739628.37%',
 '433079.98%',
 '1463545.16%',
 '856476.82%',
 '1156568.75%',
 '850712.88%',
 '332309.25%',
 '523433.17%',
 '2470959.96%',
 '1778627.78%',
 '255122.67%',
 '724771.37%',
 '453884.78%',
 '3164210.46%',
 '873042.20%',
 '833273.06%',
 '235774.70%',
 '463716.40%',
 '535719.27%',
 '539197.10%',
 '369414.05%',
 '504041.24%',
 '2749542.19%',
 '484228.50%',
 '2738281.89%',
 '522710.19%',
 '259009.60%',
 '1053607.80%',
 '858127.87%',
 '946311.33%',
 '1344100.64%',
 '388650.48%',
 '678489.37%',
 '253862.63%',
 '563994.20%',
 '1168137.43%',
 '2599775.00%',
 '1377836.93%',
 '492318.17%',
 '227233.54%',
 '1489539.80%',
 '975604.50%',
 '942297.41%',
 '383735.76%',
 '1095213.19%',
 '815913.66%',
 '1948049.98%',
 '391936.67%',
 '798514.21%',
 '1216874.49%',
 '584932.15%',
 '508583.66%',
 '290393.98%',
 '627317.34%',
 '1832141.90%',
 '517870.42%',
 '1402435.84%',
 '530943.59%',
 '494980.38%',
 '859566.53%',
 '2295189.20%',
 '379213.03%',
 '275574.80%',
 '488033.96%',
 '905190.53%',
 '1011544.62%',
 '826907.54%',
 '807165.30%',
 '772699.36%',
 '831113.59%',
 '257402.04%',
 '572732.71%',
 '367914.21%',
 '274451.96%',
 '563674.03%',
 '1687038.82%',
 '273800.20%',
 '464470.05%',
 '474668.65%',
 '1687432.82%',
 '238760.61%',
 '446533.57%',
 '459162.59%',
 '1309258.58%',
 '911226.66%',
 '416516.66%',
 '265998.06%',
 '1198659.21%',
 '289873.27%',
 '289424.39%',
 '350045.44%',
 '262180.86%',
 '1022180.50%',
 '257827.10%',
 '624259.57%',
 '522028.10%',
 '313643.21%',
 '452536.58%',
 '497035.73%',
 '1546778.90%',
 '583889.92%',
 '1065688.20%',
 '228961.87%',
 '543980.42%',
 '795615.01%',
 '255505.15%',
 '330799.90%',
 '845905.32%',
 '1335012.09%',
 '493122.13%',
 '777683.52%',
 '255367.22%',
 '487646.97%',
 '903430.58%',
 '810591.08%',
 '561968.91%',
 '1572713.06%',
 '661801.64%',
 '467004.80%',
 '1016936.98%',
 '832307.40%',
 '241776.00%',
 '804487.24%',
 '532572.45%',
 '694752.40%',
 '584741.52%',
 '472478.61%',
 '279022.80%',
 '2153133.28%',
 '1262283.27%',
 '2017196.15%',
 '1646436.59%',
 '266544.71%',
 '709891.41%',
 '397134.51%',
 '552821.28%',
 '833899.58%',
 '3844585.59%',
 '544855.52%',
 '1080806.60%',
 '618509.65%',
 '320822.59%',
 '548010.41%',
 '2298615.39%',
 '1310792.59%',
 '746292.63%',
 '1146399.10%',
 '723613.25%',
 '623268.79%',
 '2839332.99%',
 '374675.16%',
 '2156933.73%',
 '501208.37%',
 '337185.84%',
 '386477.68%',
 '414571.19%',
 '515607.27%',
 '366737.50%',
 '783568.35%',
 '1456726.84%',
 '1017133.90%',
 '413577.52%',
 '551149.11%',
 '1131424.39%',
 '541461.73%',
 '742159.35%',
 '1447612.49%',
 '493688.84%',
 '452527.65%',
 '558176.13%',
 '1413434.74%',
 '2472318.31%',
 '283806.78%',
 '384848.36%',
 '1950447.39%',
 ...]

In [115]:
insurance_df['customer lifetime value'] = pd.to_numeric(insurance_df['customer lifetime value'], errors ='coerce')

In [116]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   income                     9137 non-null   float64
 4   customer lifetime value    7070 non-null   float64
 5   vehicle class              9137 non-null   object
 6   monthly premium auto       9137 non-null   float64
 7   policy type                9137 non-null   object
 8   number of open complaints  9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(4), object(6)
memory usage: 1.0+ MB

For the column 'number of open complaints':

In [117]:
insurance_df['number of open complaints'] = pd.to_numeric(insurance_df['customer lifetime value'], errors = 'coerce')

In [118]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   income                     9137 non-null   float64
 4   customer lifetime value    7070 non-null   float64
 5   vehicle class              9137 non-null   object
 6   monthly premium auto       9137 non-null   float64
 7   policy type                9137 non-null   object
 8   number of open complaints  7070 non-null   float64
 9   total claim amount         9137 non-null   float64
dtypes: float64(5), object(5)
memory usage: 1.0+ MB

#### Filtering data and correcting typos

In [119]:
insurance_df['gender'].unique().tolist()

[nan, 'F', 'M', 'Femal', 'Male', 'female']

In [120]:
insurance_df['gender'].replace({'Male':'M', 'Female':'F', 'female':'F', 'Femal':'F'}, inplace=True)

In [121]:
insurance_df['gender'].unique().tolist()

[nan, 'F', 'M']

For the column 'state':

In [122]:
insurance_df['state'].unique().tolist()

['Washington',
 'Arizona',
 'Nevada',
 'California',
 'Oregon',
 'Cali',
 'AZ',
 'WA',
 nan]

In [126]:
insurance_df['state'].replace({'WA':'Washington', 'AZ': 'Arizona', 'Cali':'California'}, inplace=True)

In [127]:
insurance_df['state'].unique().tolist()

['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan]

#### Removing duplicates

In [130]:
insurance_df.drop_duplicates()

,state,gender,education,income,customer lifetime value,vehicle class,monthly premium auto,policy type,number of open complaints,total claim amount
0,Washington,NaN,Master,0.0,NaN,Four-Door Car,1000.0,Personal Auto,NaN,2.704934
1,Arizona,F,Bachelor,0.0,NaN,Four-Door Car,94.0,Personal Auto,NaN,1131.464935
2,Nevada,F,Bachelor,48767.0,NaN,Two-Door Car,108.0,Personal Auto,NaN,566.472247
3,California,M,Bachelor,0.0,NaN,SUV,106.0,Corporate Auto,NaN,529.881344
4,Washington,M,High School or Below,36357.0,NaN,Four-Door Car,68.0,Personal Auto,NaN,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,71941.0,23405.987980,Four-Door Car,73.0,Personal Auto,23405.987980,198.234764
7066,California,F,College,21604.0,3096.511217,Four-Door Car,79.0,Corporate Auto,3096.511217,379.200000
7067,California,M,Bachelor,0.0,8163.890428,Four-Door Car,85.0,Corporate Auto,8163.890428,790.784983
7068,California,M,College,21941.0,7524.442436,Four-Door Car,96.0,Personal Auto,7524.442436,691.200000
7069,California,M,College,0.0,2611.836866,Two-Door Car,77.0,Corporate Auto,2611.836866,369.600000

#### Replacing null values

Replace missing values with means of the column (for numerical columns):

In [132]:
insurance_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
income,9137.0,37828.820291,30358.716159,0.000000,0.000000,34244.000000,62447.000000,99981.000000
customer lifetime value,7070.0,8028.803803,6942.419253,1898.007675,3981.073024,5782.095838,8989.995803,83325.381190
monthly premium auto,9137.0,110.391266,581.376032,61.000000,68.000000,83.000000,109.000000,35354.000000
number of open complaints,7070.0,8028.803803,6942.419253,1898.007675,3981.073024,5782.095838,8989.995803,83325.381190
total claim amount,9137.0,430.527140,289.582968,0.099007,266.996814,377.561463,546.420009,2893.239678

In [133]:
insurance_df['customer lifetime value'].unique().tolist()

[nan,
 3479.137523,
 2502.637401,
 3265.156348,
 4455.843406,
 7704.95848,
 2750.705045,
 13024.13012,
 2538.62632,
 2585.955652,
 5096.673223,
 10083.48688,
 4943.386117,
 6516.214888,
 8838.085637,
 3810.238281,
 6334.466403,
 11665.09779,
 10972.06778,
 6006.963446,
 2656.713092,
 2359.423599,
 12036.62051,
 8467.387317,
 9392.557553,
 5227.230377,
 2693.75925,
 2227.072755,
 2326.864833,
 16794.31422,
 5016.827946,
 7757.924239,
 8609.158215,
 5275.056933,
 5746.32619,
 2705.987629,
 6186.265217,
 22445.28088,
 6277.844624,
 7215.821106,
 6514.430592,
 34708.87261,
 4216.19522,
 13158.37206,
 2917.539465,
 6355.678846,
 13269.59942,
 5880.256499,
 5926.729379,
 4121.252137,
 7956.152761,
 24127.50402,
 26864.20332,
 31934.62164,
 5132.684537,
 4759.624343,
 2637.942355,
 6503.397049,
 12786.66898,
 3147.973444,
 5618.485357,
 3230.576665,
 7434.675149,
 11714.78278,
 2009.772923,
 6625.472768,
 9567.711298,
 18474.71111,
 12157.32992,
 2956.358303,
 3963.394851,
 10896.04838,
 6081.048248,
 30141.61738,
 5737.233278,
 16979.79757,
 10915.35877,
 3808.122147,
 5408.911507,
 13419.39623,
 3237.996209,
 10357.62776,
 11619.91802,
 8209.054963,
 3096.511217,
 4804.35851,
 4786.054889,
 15886.03136,
 5285.079293,
 2945.370362,
 18089.79629,
 10208.92761,
 20708.25881,
 5247.852585,
 5179.55248,
 4513.435299,
 5297.625945,
 5377.014781,
 7661.388132,
 2677.279707,
 6877.817669,
 5714.232848,
 4929.549699,
 10484.91535,
 9490.406534,
 7805.31287,
 21274.34205,
 5838.89915,
 2677.495763,
 2374.798861,
 22103.5072,
 2427.770513,
 7294.40195,
 11360.46496,
 2811.956395,
 4386.277558,
 6446.918637,
 8427.172486,
 5290.127299,
 5592.455266,
 18892.19767,
 13623.62257,
 25464.82059,
 2175.624856,
 6699.222525,
 9043.678095,
 4369.041685,
 51337.90677,
 28699.89392,
 4270.034394,
 5345.994644,
 4774.747415,
 14727.50526,
 4755.47946,
 3436.134281,
 8355.774443,
 3412.566597,
 6185.337641,
 8456.722498,
 3021.938522,
 6966.142868,
 2539.990699,
 8456.455313,
 26576.31541,
 10963.95723,
 9671.98323,
 1898.683686,
 8595.146838,
 5532.753182,
 9371.773682,
 3975.321516,
 4456.016549,
 3495.891476,
 8512.13221,
 4650.063763,
 13523.12989,
 4422.409799,
 7320.98824,
 7031.463693,
 5123.484988,
 9050.756606,
 6039.020697,
 2108.493744,
 9875.092794,
 6928.601611,
 14318.44839,
 5107.071054,
 17223.89108,
 7516.831717,
 5389.499465,
 6275.155361,
 4722.237214,
 6282.317743,
 7986.191274,
 6503.219978,
 4881.753428,
 2514.59196,
 7955.442668,
 4809.21696,
 9696.548818,
 8709.321889,
 2858.452328,
 5233.949019,
 13494.76017,
 6870.607058,
 5652.72374,
 2345.262087,
 19688.31898,
 7247.206475,
 6085.304178,
 5480.070226,
 6876.309925,
 5368.887709,
 8283.066678,
 5384.671725,
 3508.569533,
 4553.809528,
 4318.433036,
 14091.19449,
 8693.631249,
 6661.181553,
 2654.380994,
 4428.031583,
 5738.277584,
 5815.049178,
 4425.905071,
 2574.020376,
 2832.513487,
 4876.315707,
 5181.620895,
 5947.215835,
 2563.863345,
 15144.40954,
 5558.304507,
 8109.364607,
 15638.57599,
 8334.317162,
 10418.31143,
 6846.150323,
 9403.875138,
 16985.49688,
 21101.21422,
 2914.955295,
 8593.866533,
 6861.745956,
 2680.900678,
 15797.98978,
 2863.312165,
 30061.69259,
 10682.7619,
 2746.90319,
 2388.949198,
 13776.74135,
 17263.64048,
 4669.22664,
 4673.196379,
 4347.591949,
 33873.18123,
 9100.787395,
 6358.251692,
 2628.468543,
 7193.101159,
 5039.869278,
 3962.825542,
 6425.709981,
 15672.69696,
 12992.27561,
 22217.96796,
 4931.258363,
 4330.38602,
 8296.176276,
 8334.359986,
 5348.071007,
 2398.740007,
 6622.05254,
 4155.946211,
 8430.059143,
 2545.518369,
 5004.583872,
 2899.702858,
 6767.806751,
 3123.080994,
 8184.691323,
 7636.279594,
 9227.567263,
 7587.337272,
 2191.133237,
 5004.135361,
 4794.931261,
 26730.06042,
 4260.765808,
 15477.27854,
 5126.836814,
 4068.092649,
 17712.20524,
 9775.816061,
 20534.39224,
 5800.188903,
 3319.620511,
 6529.431827,
 7602.663689,
 2839.808041,
 3288.209809,
 15031.5645,
 5055.902381,
 8012.917253,
 8300.70769,
 2516.103555,
 2749.407985,
 8071.334962,
 2867.312197,
 7285.030983,
 4118.588554,
 5293.368089,
 13265.96256,
 2369.439009,
 9816.528302,
 21914.40548,
 5143.88351,
 3136.698216,
 7713.819259,
 11516.40557,
 15025.19126,
 4013.849907,
 3288.825448,
 13736.1325,
 3890.87081,
 5701.277221,
 2590.214327,
 3223.331519,
 4912.025292,
 6532.010543,
 8012.124825,
 3731.504584,
 2702.380487,
 23207.24981,
 3347.028677,
 8382.630118,
 11793.12528,
 2965.71995,
 5646.323845,
 2452.491364,
 5953.213546,
 12883.81001,
 2471.528431,
 2927.07045,
 8400.788878,
 2729.126448,
 7643.068919,
 2493.591571,
 4170.572119,
 4908.207958,
 3891.583881,
 2682.423898,
 10003.24729,
 13094.60875,
 5719.785738,
 9393.968332,
 3433.82408,
 4932.878744,
 13610.10746,
 2913.323811,
 5111.304579,
 4540.381153,
 5598.273622,
 9638.066778,
 9801.287358,
 5504.139033,
 8447.801005,
 19927.63513,
 5815.261714,
 18690.34066,
 7224.235434,
 8595.982289,
 12362.08766,
 4916.303715,
 8935.274872,
 5433.214031,
 4847.24253,
 5714.165863,
 10097.68732,
 4726.869327,
 7079.790277,
 5395.434909,
 9452.996411,
 5284.312599,
 20215.3918,
 2510.054168,
 19884.91592,
 4014.453113,
 2540.689797,
 27382.81893,
 4875.31604,
 12324.2654,
 2280.386988,
 4165.994433,
 4974.801539,
 2404.917967,
 3032.816016,
 2891.272351,
 15261.41386,
 5015.009472,
 5325.394799,
 5291.395332,
 16107.19004,
 7605.637524,
 3065.365332,
 6245.575806,
 9406.381948,
 7815.46882,
 9747.99401,
 4686.469674,
 8869.619888,
 4741.808942,
 24178.68478,
 7951.777533,
 6762.082924,
 3044.78946,
 5908.16294,
 4574.547243,
 8377.499751,
 22332.43946,
 7577.065297,
 8012.841201,
 9217.978125,
 2749.189304,
 3588.87609,
 3954.538361,
 5158.648497,
 2776.582901,
 12836.00951,
 28421.57022,
 2276.392936,
 3895.961837,
 4247.683347,
 6005.847375,
 2719.506996,
 4185.757242,
 33473.34946,
 7331.508054,
 9320.284812,
 3312.323945,
 5560.278162,
 8214.602384,
 8647.139152,
 4446.738622,
 7769.841954,
 3911.118202,
 2731.520409,
 8401.788653,
 5875.038074,
 6188.379423,
 4506.577736,
 10548.53703,
 35203.57475,
 8193.750001,
 5313.436344,
 4379.770178,
 20885.55547,
 2771.963072,
 5461.548993,
 2570.235172,
 5394.000979,
 2300.691547,
 25360.10404,
 4374.038985,
 4953.358432,
 4590.811214,
 5062.37379,
 9075.768214,
 8133.157212,
 2869.301319,
 27937.75093,
 2606.186321,
 7764.273102,
 18380.39026,
 6102.953572,
 9191.672825,
 9581.281433,
 7532.262392,
 2795.321353,
 5673.840992,
 15016.18511,
 3087.249746,
 5480.701059,
 7944.973807,
 8543.247323,
 5380.898636,
 36946.06393,
 3314.55133,
 4566.377261,
 5597.12496,
 2540.551456,
 2939.330187,
 16068.34838,
 7360.873696,
 2700.985899,
 3095.705571,
 4383.751482,
 9928.874825,
 2399.17815,
 3402.777293,
 8711.302422,
 4358.762008,
 2551.226692,
 5642.747998,
 4151.667368,
 2842.025913,
 8791.444942,
 8268.272933,
 8581.637267,
 5244.40475,
 8509.019846,
 4743.615503,
 22754.66137,
 5335.015944,
 6966.319103,
 21205.37785,
 4271.200049,
 5580.818466,
 2224.089639,
 2709.539796,
 2890.338106,
 6403.577368,
 5981.381645,
 6225.022266,
 8496.358981,
 10213.99111,
 4547.162694,
 5741.696078,
 2388.353882,
 12624.96121,
 8382.478392,
 4964.666365,
 2871.437451,
 13080.78528,
 2482.411991,
 2726.834065,
 4776.186527,
 6091.89923,
 9035.671134,
 4381.880534,
 5775.517825,
 4250.282624,
 2347.048112,
 6940.069184,
 2572.506605,
 41491.74481,
 3571.346578,
 12734.21253,
 4529.112791,
 4177.876779,
 9824.745841,
 2430.801647,
 19160.98994,
 3301.518961,
 4692.098956,
 8092.87696,
 3964.534974,
 2497.531509,
 9656.212573,
 8888.143979,
 7347.410517,
 8578.364528,
 3467.323976,
 8901.468512,
 2619.337376,
 10127.77087,
 4633.452912,
 7796.000083,
 2993.024583,
 7985.472561,
 2722.210707,
 2783.583044,
 8649.997286,
 4652.91278,
 8395.806331,
 8804.53711,
 7155.337765,
 3954.344534,
 15032.9003,
 8257.666512,
 9256.918609,
 6507.751779,
 2530.705137,
 5482.549359,
 4050.506193,
 6326.679236,
 2627.76229,
 7814.604545,
 6314.579645,
 6386.278164,
 2537.969253,
 5335.375586,
 4549.079221,
 4836.21886,
 6478.801192,
 35440.14262,
 2404.380963,
 9264.565015,
 2433.024631,
 5367.089817,
 2452.360892,
 8646.504109,
 4340.086445,
 4930.949334,
 5292.632491,
 8986.610653,
 5619.967791,
 10340.45566,
 6369.262355,
 2767.5949,
 4831.421687,
 4282.947971,
 5718.276608,
 2580.849899,
 6481.382268,
 5133.414764,
 9369.639891,
 3196.578455,
 4720.608872,
 8861.900439,
 6032.737631,
 6832.36853,
 2242.090803,
 4157.698118,
 6189.122455,
 5643.724704,
 5332.462694,
 2121.313061,
 8281.740124,
 7835.929299,
 2552.913868,
 2795.410029,
 8007.399376,
 6886.324494,
 5106.781547,
 5612.375586,
 5658.912313,
 7263.599744,
 8712.157741,
 9198.685111,
 5162.370678,
 6289.946999,
 3649.708655,
 6766.558551,
 4631.011293,
 6810.52531,
 9378.634228,
 15762.53198,
 2635.505781,
 5741.72743,
 8414.942855,
 9123.911266,
 15994.008,
 9022.08313,
 4759.664624,
 3993.882994,
 18853.73945,
 8840.193762,
 6696.903521,
 8476.082867,
 5205.748188,
 6141.961623,
 4376.363592,
 12375.02163,
 3451.10244,
 8107.26533,
 8662.048958,
 8696.907111,
 2535.266473,
 5633.741543,
 5176.730072,
 5531.723723,
 2810.671023,
 2780.729047,
 2572.452634,
 7664.219255,
 3839.746159,
 2509.268453,
 14566.09246,
 3220.775528,
 3199.824902,
 16045.10952,
 4918.916267,
 5623.757656,
 5677.465907,
 3016.444225,
 5279.124682,
 4803.935174,
 2608.786334,
 7832.569008,
 4260.33573,
 2369.369299,
 20604.01627,
 2652.067994,
 2597.864075,
 7712.436971,
 4698.88415,
 3403.919366,
 4355.702301,
 11095.97445,
 3300.684961,
 6981.081694,
 16922.12519,
 7639.670244,
 19237.77089,
 2915.649943,
 4196.429642,
 16473.16905,
 2657.570431,
 3267.709691,
 2584.532849,
 5503.919257,
 8021.067105,
 19606.35999,
 1904.000852,
 7288.297591,
 5553.521059,
 11702.34819,
 36897.79765,
 2957.102851,
 19643.54421,
 4111.888285,
 15122.99194,
 12807.09083,
 2500.241685,
 4260.709139,
 2609.533154,
 10796.44832,
 2590.654042,
 29199.81072,
 4194.659772,
 10314.52484,
 9028.307862,
 6089.517361,
 12827.42831,
 9135.291575,
 7902.681227,
 14827.91055,
 2500.834374,
 5395.346288,
 2651.615963,
 2119.894333,
 7155.471967,
 5994.226432,
 22647.21772,
 2833.797966,
 5846.41534,
 2867.211836,
 14435.66453,
 5237.477743,
 7710.912153,
 5158.576449,
 5414.897604,
 2903.749709,
 5575.751228,
 2616.409509,
 4617.838205,
 20123.86854,
 3200.795405,
 8583.854913,
 4349.30875,
 4729.593583,
 5797.604861,
 3475.07136,
 8542.218196,
 6776.353402,
 9713.156737,
 4429.193391,
 2435.535995,
 9863.502214,
 8207.858272,
 2781.446975,
 5807.994569,
 8395.272249,
 14333.92489,
 11003.54385,
 4049.807215,
 2141.750757,
 5079.843625,
 2895.522489,
 9031.214859,
 6554.390004,
 7487.744636,
 15118.89548,
 9007.431501,
 5488.931031,
 7234.142952,
 5205.751205,
 4697.152892,
 6207.171358,
 6615.815683,
 9708.504642,
 10831.13004,
 4626.801093,
 6748.231188,
 2542.06388,
 5450.394878,
 7243.865476,
 8306.550901,
 2734.514945,
 11030.66148,
 3402.39442,
 6945.016955,
 2568.843396,
 5764.648599,
 5403.546122,
 4899.231772,
 9048.983447,
 8093.898245,
 2496.766693,
 2602.24525,
 6751.437153,
 3621.68883,
 6896.088021,
 5438.696611,
 14472.583,
 5323.267311,
 7390.903278,
 11447.5071,
 5754.853121,
 10244.2435,
 4645.569555,
 4887.344366,
 2497.808174,
 2369.111588,
 4490.597249,
 3719.247732,
 4198.030023,
 2420.711888,
 4462.997006,
 6291.655714,
 2460.665175,
 19435.62924,
 7374.077921,
 18269.53692,
 11925.71535,
 4223.274671,
 10298.38586,
 5229.741907,
 2402.81597,
 3933.813993,
 4299.838835,
 7635.554626,
 7291.599536,
 58753.88046,
 5261.037541,
 16938.29858,
 10575.94816,
 5552.331515,
 7150.225367,
 8717.049833,
 6847.588918,
 5418.726537,
 3528.044252,
 16468.22079,
 16963.83934,
 5807.659307,
 5068.264582,
 8797.829644,
 4439.900652,
 2404.459452,
 5066.634057,
 5890.528762,
 2410.498573,
 5288.240125,
 26413.54751,
 16236.47626,
 5534.576395,
 9202.638441,
 2592.437797,
 8019.856041,
 6943.741598,
 13367.86562,
 5885.335302,
 3479.760165,
 9103.8997,
 4813.284447,
 9575.7578,
 8090.884414,
 8267.119555,
 2489.16729,
 2395.57,
 3863.309585,
 5173.485319,
 4984.618655,
 2396.192355,
 2631.87754,
 6993.838856,
 15055.53836,
 3401.881747,
 4126.61326,
 9320.090224,
 3663.740198,
 4962.208409,
 2816.758764,
 4330.769101,
 8262.879764,
 4666.643522,
 5876.054314,
 8427.723769,
 13023.9329,
 8209.59982,
 2464.238061,
 2727.520769,
 3086.013544,
 22067.728,
 4836.054291,
 6912.03963,
 2570.761765,
 2991.696011,
 8253.266591,
 10477.77713,
 16373.7273,
 5184.94945,
 10634.83711,
 15114.40241,
 11875.89915,
 4369.496687,
 7432.856752,
 2558.762931,
 5452.171237,
 2968.077571,
 15700.28436,
 7477.176362,
 9407.452895,
 4428.038374,
 10053.55227,
 2907.898828,
 7644.763153,
 9709.746073,
 8439.615236,
 4209.682602,
 8556.418397,
 26770.44534,
 16265.58682,
 3624.901612,
 2519.918897,
 4819.183706,
 3028.780121,
 2316.796105,
 13869.92705,
 25807.063,
 2342.01381,
 2747.771656,
 5479.555081,
 9199.539814,
 8060.161694,
 6686.128629,
 4709.52218,
 2685.425957,
 3920.511337,
 5493.698779,
 8521.738901,
 2414.072446,
 5918.330563,
 7519.133631,
 4472.334422,
 5531.627731,
 8435.176463,
 10196.1106,
 20552.62128,
 3915.798108,
 6010.502178,
 2854.114491,
 5994.255419,
 4477.45201,
 5544.909083,
 3600.934326,
 9934.865795,
 6874.84827,
 2374.147419,
 9162.063169,
 7380.086414,
 2655.996158,
 7591.109246,
 4603.975141,
 5641.35916,
 5463.913828,
 4866.647452,
 2779.85389,
 4563.018085,
 14376.55039,
 2279.747148,
 5380.316469,
 8708.27928,
 18611.45356,
 2215.912948,
 7780.903354,
 2860.864563,
 5577.942343,
 7268.096004,
 4060.956163,
 7813.411572,
 4762.156975,
 14166.20344,
 4354.398727,
 2880.348532,
 19185.0725,
 5329.075482,
 4883.805481,
 4510.194071,
 15304.51777,
 5237.935672,
 15119.55539,
 5860.01804,
 32306.28587,
 4655.392106,
 5326.501981,
 6513.612638,
 3491.741616,
 7870.360084,
 4274.618943,
 7189.106255,
 11315.20373,
 2480.529264,
 7344.836277,
 6974.922464,
 20096.89337,
 ...]

In [134]:
#insurance_df['customer lifetime value'].replace({'nan':'8028.803803'}, inplace=True)

In [142]:
insurance_df['customer lifetime value'].unique().tolist()

[nan,
 3479.137523,
 2502.637401,
 3265.156348,
 4455.843406,
 7704.95848,
 2750.705045,
 13024.13012,
 2538.62632,
 2585.955652,
 5096.673223,
 10083.48688,
 4943.386117,
 6516.214888,
 8838.085637,
 3810.238281,
 6334.466403,
 11665.09779,
 10972.06778,
 6006.963446,
 2656.713092,
 2359.423599,
 12036.62051,
 8467.387317,
 9392.557553,
 5227.230377,
 2693.75925,
 2227.072755,
 2326.864833,
 16794.31422,
 5016.827946,
 7757.924239,
 8609.158215,
 5275.056933,
 5746.32619,
 2705.987629,
 6186.265217,
 22445.28088,
 6277.844624,
 7215.821106,
 6514.430592,
 34708.87261,
 4216.19522,
 13158.37206,
 2917.539465,
 6355.678846,
 13269.59942,
 5880.256499,
 5926.729379,
 4121.252137,
 7956.152761,
 24127.50402,
 26864.20332,
 31934.62164,
 5132.684537,
 4759.624343,
 2637.942355,
 6503.397049,
 12786.66898,
 3147.973444,
 5618.485357,
 3230.576665,
 7434.675149,
 11714.78278,
 2009.772923,
 6625.472768,
 9567.711298,
 18474.71111,
 12157.32992,
 2956.358303,
 3963.394851,
 10896.04838,
 6081.048248,
 30141.61738,
 5737.233278,
 16979.79757,
 10915.35877,
 3808.122147,
 5408.911507,
 13419.39623,
 3237.996209,
 10357.62776,
 11619.91802,
 8209.054963,
 3096.511217,
 4804.35851,
 4786.054889,
 15886.03136,
 5285.079293,
 2945.370362,
 18089.79629,
 10208.92761,
 20708.25881,
 5247.852585,
 5179.55248,
 4513.435299,
 5297.625945,
 5377.014781,
 7661.388132,
 2677.279707,
 6877.817669,
 5714.232848,
 4929.549699,
 10484.91535,
 9490.406534,
 7805.31287,
 21274.34205,
 5838.89915,
 2677.495763,
 2374.798861,
 22103.5072,
 2427.770513,
 7294.40195,
 11360.46496,
 2811.956395,
 4386.277558,
 6446.918637,
 8427.172486,
 5290.127299,
 5592.455266,
 18892.19767,
 13623.62257,
 25464.82059,
 2175.624856,
 6699.222525,
 9043.678095,
 4369.041685,
 51337.90677,
 28699.89392,
 4270.034394,
 5345.994644,
 4774.747415,
 14727.50526,
 4755.47946,
 3436.134281,
 8355.774443,
 3412.566597,
 6185.337641,
 8456.722498,
 3021.938522,
 6966.142868,
 2539.990699,
 8456.455313,
 26576.31541,
 10963.95723,
 9671.98323,
 1898.683686,
 8595.146838,
 5532.753182,
 9371.773682,
 3975.321516,
 4456.016549,
 3495.891476,
 8512.13221,
 4650.063763,
 13523.12989,
 4422.409799,
 7320.98824,
 7031.463693,
 5123.484988,
 9050.756606,
 6039.020697,
 2108.493744,
 9875.092794,
 6928.601611,
 14318.44839,
 5107.071054,
 17223.89108,
 7516.831717,
 5389.499465,
 6275.155361,
 4722.237214,
 6282.317743,
 7986.191274,
 6503.219978,
 4881.753428,
 2514.59196,
 7955.442668,
 4809.21696,
 9696.548818,
 8709.321889,
 2858.452328,
 5233.949019,
 13494.76017,
 6870.607058,
 5652.72374,
 2345.262087,
 19688.31898,
 7247.206475,
 6085.304178,
 5480.070226,
 6876.309925,
 5368.887709,
 8283.066678,
 5384.671725,
 3508.569533,
 4553.809528,
 4318.433036,
 14091.19449,
 8693.631249,
 6661.181553,
 2654.380994,
 4428.031583,
 5738.277584,
 5815.049178,
 4425.905071,
 2574.020376,
 2832.513487,
 4876.315707,
 5181.620895,
 5947.215835,
 2563.863345,
 15144.40954,
 5558.304507,
 8109.364607,
 15638.57599,
 8334.317162,
 10418.31143,
 6846.150323,
 9403.875138,
 16985.49688,
 21101.21422,
 2914.955295,
 8593.866533,
 6861.745956,
 2680.900678,
 15797.98978,
 2863.312165,
 30061.69259,
 10682.7619,
 2746.90319,
 2388.949198,
 13776.74135,
 17263.64048,
 4669.22664,
 4673.196379,
 4347.591949,
 33873.18123,
 9100.787395,
 6358.251692,
 2628.468543,
 7193.101159,
 5039.869278,
 3962.825542,
 6425.709981,
 15672.69696,
 12992.27561,
 22217.96796,
 4931.258363,
 4330.38602,
 8296.176276,
 8334.359986,
 5348.071007,
 2398.740007,
 6622.05254,
 4155.946211,
 8430.059143,
 2545.518369,
 5004.583872,
 2899.702858,
 6767.806751,
 3123.080994,
 8184.691323,
 7636.279594,
 9227.567263,
 7587.337272,
 2191.133237,
 5004.135361,
 4794.931261,
 26730.06042,
 4260.765808,
 15477.27854,
 5126.836814,
 4068.092649,
 17712.20524,
 9775.816061,
 20534.39224,
 5800.188903,
 3319.620511,
 6529.431827,
 7602.663689,
 2839.808041,
 3288.209809,
 15031.5645,
 5055.902381,
 8012.917253,
 8300.70769,
 2516.103555,
 2749.407985,
 8071.334962,
 2867.312197,
 7285.030983,
 4118.588554,
 5293.368089,
 13265.96256,
 2369.439009,
 9816.528302,
 21914.40548,
 5143.88351,
 3136.698216,
 7713.819259,
 11516.40557,
 15025.19126,
 4013.849907,
 3288.825448,
 13736.1325,
 3890.87081,
 5701.277221,
 2590.214327,
 3223.331519,
 4912.025292,
 6532.010543,
 8012.124825,
 3731.504584,
 2702.380487,
 23207.24981,
 3347.028677,
 8382.630118,
 11793.12528,
 2965.71995,
 5646.323845,
 2452.491364,
 5953.213546,
 12883.81001,
 2471.528431,
 2927.07045,
 8400.788878,
 2729.126448,
 7643.068919,
 2493.591571,
 4170.572119,
 4908.207958,
 3891.583881,
 2682.423898,
 10003.24729,
 13094.60875,
 5719.785738,
 9393.968332,
 3433.82408,
 4932.878744,
 13610.10746,
 2913.323811,
 5111.304579,
 4540.381153,
 5598.273622,
 9638.066778,
 9801.287358,
 5504.139033,
 8447.801005,
 19927.63513,
 5815.261714,
 18690.34066,
 7224.235434,
 8595.982289,
 12362.08766,
 4916.303715,
 8935.274872,
 5433.214031,
 4847.24253,
 5714.165863,
 10097.68732,
 4726.869327,
 7079.790277,
 5395.434909,
 9452.996411,
 5284.312599,
 20215.3918,
 2510.054168,
 19884.91592,
 4014.453113,
 2540.689797,
 27382.81893,
 4875.31604,
 12324.2654,
 2280.386988,
 4165.994433,
 4974.801539,
 2404.917967,
 3032.816016,
 2891.272351,
 15261.41386,
 5015.009472,
 5325.394799,
 5291.395332,
 16107.19004,
 7605.637524,
 3065.365332,
 6245.575806,
 9406.381948,
 7815.46882,
 9747.99401,
 4686.469674,
 8869.619888,
 4741.808942,
 24178.68478,
 7951.777533,
 6762.082924,
 3044.78946,
 5908.16294,
 4574.547243,
 8377.499751,
 22332.43946,
 7577.065297,
 8012.841201,
 9217.978125,
 2749.189304,
 3588.87609,
 3954.538361,
 5158.648497,
 2776.582901,
 12836.00951,
 28421.57022,
 2276.392936,
 3895.961837,
 4247.683347,
 6005.847375,
 2719.506996,
 4185.757242,
 33473.34946,
 7331.508054,
 9320.284812,
 3312.323945,
 5560.278162,
 8214.602384,
 8647.139152,
 4446.738622,
 7769.841954,
 3911.118202,
 2731.520409,
 8401.788653,
 5875.038074,
 6188.379423,
 4506.577736,
 10548.53703,
 35203.57475,
 8193.750001,
 5313.436344,
 4379.770178,
 20885.55547,
 2771.963072,
 5461.548993,
 2570.235172,
 5394.000979,
 2300.691547,
 25360.10404,
 4374.038985,
 4953.358432,
 4590.811214,
 5062.37379,
 9075.768214,
 8133.157212,
 2869.301319,
 27937.75093,
 2606.186321,
 7764.273102,
 18380.39026,
 6102.953572,
 9191.672825,
 9581.281433,
 7532.262392,
 2795.321353,
 5673.840992,
 15016.18511,
 3087.249746,
 5480.701059,
 7944.973807,
 8543.247323,
 5380.898636,
 36946.06393,
 3314.55133,
 4566.377261,
 5597.12496,
 2540.551456,
 2939.330187,
 16068.34838,
 7360.873696,
 2700.985899,
 3095.705571,
 4383.751482,
 9928.874825,
 2399.17815,
 3402.777293,
 8711.302422,
 4358.762008,
 2551.226692,
 5642.747998,
 4151.667368,
 2842.025913,
 8791.444942,
 8268.272933,
 8581.637267,
 5244.40475,
 8509.019846,
 4743.615503,
 22754.66137,
 5335.015944,
 6966.319103,
 21205.37785,
 4271.200049,
 5580.818466,
 2224.089639,
 2709.539796,
 2890.338106,
 6403.577368,
 5981.381645,
 6225.022266,
 8496.358981,
 10213.99111,
 4547.162694,
 5741.696078,
 2388.353882,
 12624.96121,
 8382.478392,
 4964.666365,
 2871.437451,
 13080.78528,
 2482.411991,
 2726.834065,
 4776.186527,
 6091.89923,
 9035.671134,
 4381.880534,
 5775.517825,
 4250.282624,
 2347.048112,
 6940.069184,
 2572.506605,
 41491.74481,
 3571.346578,
 12734.21253,
 4529.112791,
 4177.876779,
 9824.745841,
 2430.801647,
 19160.98994,
 3301.518961,
 4692.098956,
 8092.87696,
 3964.534974,
 2497.531509,
 9656.212573,
 8888.143979,
 7347.410517,
 8578.364528,
 3467.323976,
 8901.468512,
 2619.337376,
 10127.77087,
 4633.452912,
 7796.000083,
 2993.024583,
 7985.472561,
 2722.210707,
 2783.583044,
 8649.997286,
 4652.91278,
 8395.806331,
 8804.53711,
 7155.337765,
 3954.344534,
 15032.9003,
 8257.666512,
 9256.918609,
 6507.751779,
 2530.705137,
 5482.549359,
 4050.506193,
 6326.679236,
 2627.76229,
 7814.604545,
 6314.579645,
 6386.278164,
 2537.969253,
 5335.375586,
 4549.079221,
 4836.21886,
 6478.801192,
 35440.14262,
 2404.380963,
 9264.565015,
 2433.024631,
 5367.089817,
 2452.360892,
 8646.504109,
 4340.086445,
 4930.949334,
 5292.632491,
 8986.610653,
 5619.967791,
 10340.45566,
 6369.262355,
 2767.5949,
 4831.421687,
 4282.947971,
 5718.276608,
 2580.849899,
 6481.382268,
 5133.414764,
 9369.639891,
 3196.578455,
 4720.608872,
 8861.900439,
 6032.737631,
 6832.36853,
 2242.090803,
 4157.698118,
 6189.122455,
 5643.724704,
 5332.462694,
 2121.313061,
 8281.740124,
 7835.929299,
 2552.913868,
 2795.410029,
 8007.399376,
 6886.324494,
 5106.781547,
 5612.375586,
 5658.912313,
 7263.599744,
 8712.157741,
 9198.685111,
 5162.370678,
 6289.946999,
 3649.708655,
 6766.558551,
 4631.011293,
 6810.52531,
 9378.634228,
 15762.53198,
 2635.505781,
 5741.72743,
 8414.942855,
 9123.911266,
 15994.008,
 9022.08313,
 4759.664624,
 3993.882994,
 18853.73945,
 8840.193762,
 6696.903521,
 8476.082867,
 5205.748188,
 6141.961623,
 4376.363592,
 12375.02163,
 3451.10244,
 8107.26533,
 8662.048958,
 8696.907111,
 2535.266473,
 5633.741543,
 5176.730072,
 5531.723723,
 2810.671023,
 2780.729047,
 2572.452634,
 7664.219255,
 3839.746159,
 2509.268453,
 14566.09246,
 3220.775528,
 3199.824902,
 16045.10952,
 4918.916267,
 5623.757656,
 5677.465907,
 3016.444225,
 5279.124682,
 4803.935174,
 2608.786334,
 7832.569008,
 4260.33573,
 2369.369299,
 20604.01627,
 2652.067994,
 2597.864075,
 7712.436971,
 4698.88415,
 3403.919366,
 4355.702301,
 11095.97445,
 3300.684961,
 6981.081694,
 16922.12519,
 7639.670244,
 19237.77089,
 2915.649943,
 4196.429642,
 16473.16905,
 2657.570431,
 3267.709691,
 2584.532849,
 5503.919257,
 8021.067105,
 19606.35999,
 1904.000852,
 7288.297591,
 5553.521059,
 11702.34819,
 36897.79765,
 2957.102851,
 19643.54421,
 4111.888285,
 15122.99194,
 12807.09083,
 2500.241685,
 4260.709139,
 2609.533154,
 10796.44832,
 2590.654042,
 29199.81072,
 4194.659772,
 10314.52484,
 9028.307862,
 6089.517361,
 12827.42831,
 9135.291575,
 7902.681227,
 14827.91055,
 2500.834374,
 5395.346288,
 2651.615963,
 2119.894333,
 7155.471967,
 5994.226432,
 22647.21772,
 2833.797966,
 5846.41534,
 2867.211836,
 14435.66453,
 5237.477743,
 7710.912153,
 5158.576449,
 5414.897604,
 2903.749709,
 5575.751228,
 2616.409509,
 4617.838205,
 20123.86854,
 3200.795405,
 8583.854913,
 4349.30875,
 4729.593583,
 5797.604861,
 3475.07136,
 8542.218196,
 6776.353402,
 9713.156737,
 4429.193391,
 2435.535995,
 9863.502214,
 8207.858272,
 2781.446975,
 5807.994569,
 8395.272249,
 14333.92489,
 11003.54385,
 4049.807215,
 2141.750757,
 5079.843625,
 2895.522489,
 9031.214859,
 6554.390004,
 7487.744636,
 15118.89548,
 9007.431501,
 5488.931031,
 7234.142952,
 5205.751205,
 4697.152892,
 6207.171358,
 6615.815683,
 9708.504642,
 10831.13004,
 4626.801093,
 6748.231188,
 2542.06388,
 5450.394878,
 7243.865476,
 8306.550901,
 2734.514945,
 11030.66148,
 3402.39442,
 6945.016955,
 2568.843396,
 5764.648599,
 5403.546122,
 4899.231772,
 9048.983447,
 8093.898245,
 2496.766693,
 2602.24525,
 6751.437153,
 3621.68883,
 6896.088021,
 5438.696611,
 14472.583,
 5323.267311,
 7390.903278,
 11447.5071,
 5754.853121,
 10244.2435,
 4645.569555,
 4887.344366,
 2497.808174,
 2369.111588,
 4490.597249,
 3719.247732,
 4198.030023,
 2420.711888,
 4462.997006,
 6291.655714,
 2460.665175,
 19435.62924,
 7374.077921,
 18269.53692,
 11925.71535,
 4223.274671,
 10298.38586,
 5229.741907,
 2402.81597,
 3933.813993,
 4299.838835,
 7635.554626,
 7291.599536,
 58753.88046,
 5261.037541,
 16938.29858,
 10575.94816,
 5552.331515,
 7150.225367,
 8717.049833,
 6847.588918,
 5418.726537,
 3528.044252,
 16468.22079,
 16963.83934,
 5807.659307,
 5068.264582,
 8797.829644,
 4439.900652,
 2404.459452,
 5066.634057,
 5890.528762,
 2410.498573,
 5288.240125,
 26413.54751,
 16236.47626,
 5534.576395,
 9202.638441,
 2592.437797,
 8019.856041,
 6943.741598,
 13367.86562,
 5885.335302,
 3479.760165,
 9103.8997,
 4813.284447,
 9575.7578,
 8090.884414,
 8267.119555,
 2489.16729,
 2395.57,
 3863.309585,
 5173.485319,
 4984.618655,
 2396.192355,
 2631.87754,
 6993.838856,
 15055.53836,
 3401.881747,
 4126.61326,
 9320.090224,
 3663.740198,
 4962.208409,
 2816.758764,
 4330.769101,
 8262.879764,
 4666.643522,
 5876.054314,
 8427.723769,
 13023.9329,
 8209.59982,
 2464.238061,
 2727.520769,
 3086.013544,
 22067.728,
 4836.054291,
 6912.03963,
 2570.761765,
 2991.696011,
 8253.266591,
 10477.77713,
 16373.7273,
 5184.94945,
 10634.83711,
 15114.40241,
 11875.89915,
 4369.496687,
 7432.856752,
 2558.762931,
 5452.171237,
 2968.077571,
 15700.28436,
 7477.176362,
 9407.452895,
 4428.038374,
 10053.55227,
 2907.898828,
 7644.763153,
 9709.746073,
 8439.615236,
 4209.682602,
 8556.418397,
 26770.44534,
 16265.58682,
 3624.901612,
 2519.918897,
 4819.183706,
 3028.780121,
 2316.796105,
 13869.92705,
 25807.063,
 2342.01381,
 2747.771656,
 5479.555081,
 9199.539814,
 8060.161694,
 6686.128629,
 4709.52218,
 2685.425957,
 3920.511337,
 5493.698779,
 8521.738901,
 2414.072446,
 5918.330563,
 7519.133631,
 4472.334422,
 5531.627731,
 8435.176463,
 10196.1106,
 20552.62128,
 3915.798108,
 6010.502178,
 2854.114491,
 5994.255419,
 4477.45201,
 5544.909083,
 3600.934326,
 9934.865795,
 6874.84827,
 2374.147419,
 9162.063169,
 7380.086414,
 2655.996158,
 7591.109246,
 4603.975141,
 5641.35916,
 5463.913828,
 4866.647452,
 2779.85389,
 4563.018085,
 14376.55039,
 2279.747148,
 5380.316469,
 8708.27928,
 18611.45356,
 2215.912948,
 7780.903354,
 2860.864563,
 5577.942343,
 7268.096004,
 4060.956163,
 7813.411572,
 4762.156975,
 14166.20344,
 4354.398727,
 2880.348532,
 19185.0725,
 5329.075482,
 4883.805481,
 4510.194071,
 15304.51777,
 5237.935672,
 15119.55539,
 5860.01804,
 32306.28587,
 4655.392106,
 5326.501981,
 6513.612638,
 3491.741616,
 7870.360084,
 4274.618943,
 7189.106255,
 11315.20373,
 2480.529264,
 7344.836277,
 6974.922464,
 20096.89337,
 ...]

In [135]:
insurance_df['number of open complaints'].unique().tolist()

[nan,
 3479.137523,
 2502.637401,
 3265.156348,
 4455.843406,
 7704.95848,
 2750.705045,
 13024.13012,
 2538.62632,
 2585.955652,
 5096.673223,
 10083.48688,
 4943.386117,
 6516.214888,
 8838.085637,
 3810.238281,
 6334.466403,
 11665.09779,
 10972.06778,
 6006.963446,
 2656.713092,
 2359.423599,
 12036.62051,
 8467.387317,
 9392.557553,
 5227.230377,
 2693.75925,
 2227.072755,
 2326.864833,
 16794.31422,
 5016.827946,
 7757.924239,
 8609.158215,
 5275.056933,
 5746.32619,
 2705.987629,
 6186.265217,
 22445.28088,
 6277.844624,
 7215.821106,
 6514.430592,
 34708.87261,
 4216.19522,
 13158.37206,
 2917.539465,
 6355.678846,
 13269.59942,
 5880.256499,
 5926.729379,
 4121.252137,
 7956.152761,
 24127.50402,
 26864.20332,
 31934.62164,
 5132.684537,
 4759.624343,
 2637.942355,
 6503.397049,
 12786.66898,
 3147.973444,
 5618.485357,
 3230.576665,
 7434.675149,
 11714.78278,
 2009.772923,
 6625.472768,
 9567.711298,
 18474.71111,
 12157.32992,
 2956.358303,
 3963.394851,
 10896.04838,
 6081.048248,
 30141.61738,
 5737.233278,
 16979.79757,
 10915.35877,
 3808.122147,
 5408.911507,
 13419.39623,
 3237.996209,
 10357.62776,
 11619.91802,
 8209.054963,
 3096.511217,
 4804.35851,
 4786.054889,
 15886.03136,
 5285.079293,
 2945.370362,
 18089.79629,
 10208.92761,
 20708.25881,
 5247.852585,
 5179.55248,
 4513.435299,
 5297.625945,
 5377.014781,
 7661.388132,
 2677.279707,
 6877.817669,
 5714.232848,
 4929.549699,
 10484.91535,
 9490.406534,
 7805.31287,
 21274.34205,
 5838.89915,
 2677.495763,
 2374.798861,
 22103.5072,
 2427.770513,
 7294.40195,
 11360.46496,
 2811.956395,
 4386.277558,
 6446.918637,
 8427.172486,
 5290.127299,
 5592.455266,
 18892.19767,
 13623.62257,
 25464.82059,
 2175.624856,
 6699.222525,
 9043.678095,
 4369.041685,
 51337.90677,
 28699.89392,
 4270.034394,
 5345.994644,
 4774.747415,
 14727.50526,
 4755.47946,
 3436.134281,
 8355.774443,
 3412.566597,
 6185.337641,
 8456.722498,
 3021.938522,
 6966.142868,
 2539.990699,
 8456.455313,
 26576.31541,
 10963.95723,
 9671.98323,
 1898.683686,
 8595.146838,
 5532.753182,
 9371.773682,
 3975.321516,
 4456.016549,
 3495.891476,
 8512.13221,
 4650.063763,
 13523.12989,
 4422.409799,
 7320.98824,
 7031.463693,
 5123.484988,
 9050.756606,
 6039.020697,
 2108.493744,
 9875.092794,
 6928.601611,
 14318.44839,
 5107.071054,
 17223.89108,
 7516.831717,
 5389.499465,
 6275.155361,
 4722.237214,
 6282.317743,
 7986.191274,
 6503.219978,
 4881.753428,
 2514.59196,
 7955.442668,
 4809.21696,
 9696.548818,
 8709.321889,
 2858.452328,
 5233.949019,
 13494.76017,
 6870.607058,
 5652.72374,
 2345.262087,
 19688.31898,
 7247.206475,
 6085.304178,
 5480.070226,
 6876.309925,
 5368.887709,
 8283.066678,
 5384.671725,
 3508.569533,
 4553.809528,
 4318.433036,
 14091.19449,
 8693.631249,
 6661.181553,
 2654.380994,
 4428.031583,
 5738.277584,
 5815.049178,
 4425.905071,
 2574.020376,
 2832.513487,
 4876.315707,
 5181.620895,
 5947.215835,
 2563.863345,
 15144.40954,
 5558.304507,
 8109.364607,
 15638.57599,
 8334.317162,
 10418.31143,
 6846.150323,
 9403.875138,
 16985.49688,
 21101.21422,
 2914.955295,
 8593.866533,
 6861.745956,
 2680.900678,
 15797.98978,
 2863.312165,
 30061.69259,
 10682.7619,
 2746.90319,
 2388.949198,
 13776.74135,
 17263.64048,
 4669.22664,
 4673.196379,
 4347.591949,
 33873.18123,
 9100.787395,
 6358.251692,
 2628.468543,
 7193.101159,
 5039.869278,
 3962.825542,
 6425.709981,
 15672.69696,
 12992.27561,
 22217.96796,
 4931.258363,
 4330.38602,
 8296.176276,
 8334.359986,
 5348.071007,
 2398.740007,
 6622.05254,
 4155.946211,
 8430.059143,
 2545.518369,
 5004.583872,
 2899.702858,
 6767.806751,
 3123.080994,
 8184.691323,
 7636.279594,
 9227.567263,
 7587.337272,
 2191.133237,
 5004.135361,
 4794.931261,
 26730.06042,
 4260.765808,
 15477.27854,
 5126.836814,
 4068.092649,
 17712.20524,
 9775.816061,
 20534.39224,
 5800.188903,
 3319.620511,
 6529.431827,
 7602.663689,
 2839.808041,
 3288.209809,
 15031.5645,
 5055.902381,
 8012.917253,
 8300.70769,
 2516.103555,
 2749.407985,
 8071.334962,
 2867.312197,
 7285.030983,
 4118.588554,
 5293.368089,
 13265.96256,
 2369.439009,
 9816.528302,
 21914.40548,
 5143.88351,
 3136.698216,
 7713.819259,
 11516.40557,
 15025.19126,
 4013.849907,
 3288.825448,
 13736.1325,
 3890.87081,
 5701.277221,
 2590.214327,
 3223.331519,
 4912.025292,
 6532.010543,
 8012.124825,
 3731.504584,
 2702.380487,
 23207.24981,
 3347.028677,
 8382.630118,
 11793.12528,
 2965.71995,
 5646.323845,
 2452.491364,
 5953.213546,
 12883.81001,
 2471.528431,
 2927.07045,
 8400.788878,
 2729.126448,
 7643.068919,
 2493.591571,
 4170.572119,
 4908.207958,
 3891.583881,
 2682.423898,
 10003.24729,
 13094.60875,
 5719.785738,
 9393.968332,
 3433.82408,
 4932.878744,
 13610.10746,
 2913.323811,
 5111.304579,
 4540.381153,
 5598.273622,
 9638.066778,
 9801.287358,
 5504.139033,
 8447.801005,
 19927.63513,
 5815.261714,
 18690.34066,
 7224.235434,
 8595.982289,
 12362.08766,
 4916.303715,
 8935.274872,
 5433.214031,
 4847.24253,
 5714.165863,
 10097.68732,
 4726.869327,
 7079.790277,
 5395.434909,
 9452.996411,
 5284.312599,
 20215.3918,
 2510.054168,
 19884.91592,
 4014.453113,
 2540.689797,
 27382.81893,
 4875.31604,
 12324.2654,
 2280.386988,
 4165.994433,
 4974.801539,
 2404.917967,
 3032.816016,
 2891.272351,
 15261.41386,
 5015.009472,
 5325.394799,
 5291.395332,
 16107.19004,
 7605.637524,
 3065.365332,
 6245.575806,
 9406.381948,
 7815.46882,
 9747.99401,
 4686.469674,
 8869.619888,
 4741.808942,
 24178.68478,
 7951.777533,
 6762.082924,
 3044.78946,
 5908.16294,
 4574.547243,
 8377.499751,
 22332.43946,
 7577.065297,
 8012.841201,
 9217.978125,
 2749.189304,
 3588.87609,
 3954.538361,
 5158.648497,
 2776.582901,
 12836.00951,
 28421.57022,
 2276.392936,
 3895.961837,
 4247.683347,
 6005.847375,
 2719.506996,
 4185.757242,
 33473.34946,
 7331.508054,
 9320.284812,
 3312.323945,
 5560.278162,
 8214.602384,
 8647.139152,
 4446.738622,
 7769.841954,
 3911.118202,
 2731.520409,
 8401.788653,
 5875.038074,
 6188.379423,
 4506.577736,
 10548.53703,
 35203.57475,
 8193.750001,
 5313.436344,
 4379.770178,
 20885.55547,
 2771.963072,
 5461.548993,
 2570.235172,
 5394.000979,
 2300.691547,
 25360.10404,
 4374.038985,
 4953.358432,
 4590.811214,
 5062.37379,
 9075.768214,
 8133.157212,
 2869.301319,
 27937.75093,
 2606.186321,
 7764.273102,
 18380.39026,
 6102.953572,
 9191.672825,
 9581.281433,
 7532.262392,
 2795.321353,
 5673.840992,
 15016.18511,
 3087.249746,
 5480.701059,
 7944.973807,
 8543.247323,
 5380.898636,
 36946.06393,
 3314.55133,
 4566.377261,
 5597.12496,
 2540.551456,
 2939.330187,
 16068.34838,
 7360.873696,
 2700.985899,
 3095.705571,
 4383.751482,
 9928.874825,
 2399.17815,
 3402.777293,
 8711.302422,
 4358.762008,
 2551.226692,
 5642.747998,
 4151.667368,
 2842.025913,
 8791.444942,
 8268.272933,
 8581.637267,
 5244.40475,
 8509.019846,
 4743.615503,
 22754.66137,
 5335.015944,
 6966.319103,
 21205.37785,
 4271.200049,
 5580.818466,
 2224.089639,
 2709.539796,
 2890.338106,
 6403.577368,
 5981.381645,
 6225.022266,
 8496.358981,
 10213.99111,
 4547.162694,
 5741.696078,
 2388.353882,
 12624.96121,
 8382.478392,
 4964.666365,
 2871.437451,
 13080.78528,
 2482.411991,
 2726.834065,
 4776.186527,
 6091.89923,
 9035.671134,
 4381.880534,
 5775.517825,
 4250.282624,
 2347.048112,
 6940.069184,
 2572.506605,
 41491.74481,
 3571.346578,
 12734.21253,
 4529.112791,
 4177.876779,
 9824.745841,
 2430.801647,
 19160.98994,
 3301.518961,
 4692.098956,
 8092.87696,
 3964.534974,
 2497.531509,
 9656.212573,
 8888.143979,
 7347.410517,
 8578.364528,
 3467.323976,
 8901.468512,
 2619.337376,
 10127.77087,
 4633.452912,
 7796.000083,
 2993.024583,
 7985.472561,
 2722.210707,
 2783.583044,
 8649.997286,
 4652.91278,
 8395.806331,
 8804.53711,
 7155.337765,
 3954.344534,
 15032.9003,
 8257.666512,
 9256.918609,
 6507.751779,
 2530.705137,
 5482.549359,
 4050.506193,
 6326.679236,
 2627.76229,
 7814.604545,
 6314.579645,
 6386.278164,
 2537.969253,
 5335.375586,
 4549.079221,
 4836.21886,
 6478.801192,
 35440.14262,
 2404.380963,
 9264.565015,
 2433.024631,
 5367.089817,
 2452.360892,
 8646.504109,
 4340.086445,
 4930.949334,
 5292.632491,
 8986.610653,
 5619.967791,
 10340.45566,
 6369.262355,
 2767.5949,
 4831.421687,
 4282.947971,
 5718.276608,
 2580.849899,
 6481.382268,
 5133.414764,
 9369.639891,
 3196.578455,
 4720.608872,
 8861.900439,
 6032.737631,
 6832.36853,
 2242.090803,
 4157.698118,
 6189.122455,
 5643.724704,
 5332.462694,
 2121.313061,
 8281.740124,
 7835.929299,
 2552.913868,
 2795.410029,
 8007.399376,
 6886.324494,
 5106.781547,
 5612.375586,
 5658.912313,
 7263.599744,
 8712.157741,
 9198.685111,
 5162.370678,
 6289.946999,
 3649.708655,
 6766.558551,
 4631.011293,
 6810.52531,
 9378.634228,
 15762.53198,
 2635.505781,
 5741.72743,
 8414.942855,
 9123.911266,
 15994.008,
 9022.08313,
 4759.664624,
 3993.882994,
 18853.73945,
 8840.193762,
 6696.903521,
 8476.082867,
 5205.748188,
 6141.961623,
 4376.363592,
 12375.02163,
 3451.10244,
 8107.26533,
 8662.048958,
 8696.907111,
 2535.266473,
 5633.741543,
 5176.730072,
 5531.723723,
 2810.671023,
 2780.729047,
 2572.452634,
 7664.219255,
 3839.746159,
 2509.268453,
 14566.09246,
 3220.775528,
 3199.824902,
 16045.10952,
 4918.916267,
 5623.757656,
 5677.465907,
 3016.444225,
 5279.124682,
 4803.935174,
 2608.786334,
 7832.569008,
 4260.33573,
 2369.369299,
 20604.01627,
 2652.067994,
 2597.864075,
 7712.436971,
 4698.88415,
 3403.919366,
 4355.702301,
 11095.97445,
 3300.684961,
 6981.081694,
 16922.12519,
 7639.670244,
 19237.77089,
 2915.649943,
 4196.429642,
 16473.16905,
 2657.570431,
 3267.709691,
 2584.532849,
 5503.919257,
 8021.067105,
 19606.35999,
 1904.000852,
 7288.297591,
 5553.521059,
 11702.34819,
 36897.79765,
 2957.102851,
 19643.54421,
 4111.888285,
 15122.99194,
 12807.09083,
 2500.241685,
 4260.709139,
 2609.533154,
 10796.44832,
 2590.654042,
 29199.81072,
 4194.659772,
 10314.52484,
 9028.307862,
 6089.517361,
 12827.42831,
 9135.291575,
 7902.681227,
 14827.91055,
 2500.834374,
 5395.346288,
 2651.615963,
 2119.894333,
 7155.471967,
 5994.226432,
 22647.21772,
 2833.797966,
 5846.41534,
 2867.211836,
 14435.66453,
 5237.477743,
 7710.912153,
 5158.576449,
 5414.897604,
 2903.749709,
 5575.751228,
 2616.409509,
 4617.838205,
 20123.86854,
 3200.795405,
 8583.854913,
 4349.30875,
 4729.593583,
 5797.604861,
 3475.07136,
 8542.218196,
 6776.353402,
 9713.156737,
 4429.193391,
 2435.535995,
 9863.502214,
 8207.858272,
 2781.446975,
 5807.994569,
 8395.272249,
 14333.92489,
 11003.54385,
 4049.807215,
 2141.750757,
 5079.843625,
 2895.522489,
 9031.214859,
 6554.390004,
 7487.744636,
 15118.89548,
 9007.431501,
 5488.931031,
 7234.142952,
 5205.751205,
 4697.152892,
 6207.171358,
 6615.815683,
 9708.504642,
 10831.13004,
 4626.801093,
 6748.231188,
 2542.06388,
 5450.394878,
 7243.865476,
 8306.550901,
 2734.514945,
 11030.66148,
 3402.39442,
 6945.016955,
 2568.843396,
 5764.648599,
 5403.546122,
 4899.231772,
 9048.983447,
 8093.898245,
 2496.766693,
 2602.24525,
 6751.437153,
 3621.68883,
 6896.088021,
 5438.696611,
 14472.583,
 5323.267311,
 7390.903278,
 11447.5071,
 5754.853121,
 10244.2435,
 4645.569555,
 4887.344366,
 2497.808174,
 2369.111588,
 4490.597249,
 3719.247732,
 4198.030023,
 2420.711888,
 4462.997006,
 6291.655714,
 2460.665175,
 19435.62924,
 7374.077921,
 18269.53692,
 11925.71535,
 4223.274671,
 10298.38586,
 5229.741907,
 2402.81597,
 3933.813993,
 4299.838835,
 7635.554626,
 7291.599536,
 58753.88046,
 5261.037541,
 16938.29858,
 10575.94816,
 5552.331515,
 7150.225367,
 8717.049833,
 6847.588918,
 5418.726537,
 3528.044252,
 16468.22079,
 16963.83934,
 5807.659307,
 5068.264582,
 8797.829644,
 4439.900652,
 2404.459452,
 5066.634057,
 5890.528762,
 2410.498573,
 5288.240125,
 26413.54751,
 16236.47626,
 5534.576395,
 9202.638441,
 2592.437797,
 8019.856041,
 6943.741598,
 13367.86562,
 5885.335302,
 3479.760165,
 9103.8997,
 4813.284447,
 9575.7578,
 8090.884414,
 8267.119555,
 2489.16729,
 2395.57,
 3863.309585,
 5173.485319,
 4984.618655,
 2396.192355,
 2631.87754,
 6993.838856,
 15055.53836,
 3401.881747,
 4126.61326,
 9320.090224,
 3663.740198,
 4962.208409,
 2816.758764,
 4330.769101,
 8262.879764,
 4666.643522,
 5876.054314,
 8427.723769,
 13023.9329,
 8209.59982,
 2464.238061,
 2727.520769,
 3086.013544,
 22067.728,
 4836.054291,
 6912.03963,
 2570.761765,
 2991.696011,
 8253.266591,
 10477.77713,
 16373.7273,
 5184.94945,
 10634.83711,
 15114.40241,
 11875.89915,
 4369.496687,
 7432.856752,
 2558.762931,
 5452.171237,
 2968.077571,
 15700.28436,
 7477.176362,
 9407.452895,
 4428.038374,
 10053.55227,
 2907.898828,
 7644.763153,
 9709.746073,
 8439.615236,
 4209.682602,
 8556.418397,
 26770.44534,
 16265.58682,
 3624.901612,
 2519.918897,
 4819.183706,
 3028.780121,
 2316.796105,
 13869.92705,
 25807.063,
 2342.01381,
 2747.771656,
 5479.555081,
 9199.539814,
 8060.161694,
 6686.128629,
 4709.52218,
 2685.425957,
 3920.511337,
 5493.698779,
 8521.738901,
 2414.072446,
 5918.330563,
 7519.133631,
 4472.334422,
 5531.627731,
 8435.176463,
 10196.1106,
 20552.62128,
 3915.798108,
 6010.502178,
 2854.114491,
 5994.255419,
 4477.45201,
 5544.909083,
 3600.934326,
 9934.865795,
 6874.84827,
 2374.147419,
 9162.063169,
 7380.086414,
 2655.996158,
 7591.109246,
 4603.975141,
 5641.35916,
 5463.913828,
 4866.647452,
 2779.85389,
 4563.018085,
 14376.55039,
 2279.747148,
 5380.316469,
 8708.27928,
 18611.45356,
 2215.912948,
 7780.903354,
 2860.864563,
 5577.942343,
 7268.096004,
 4060.956163,
 7813.411572,
 4762.156975,
 14166.20344,
 4354.398727,
 2880.348532,
 19185.0725,
 5329.075482,
 4883.805481,
 4510.194071,
 15304.51777,
 5237.935672,
 15119.55539,
 5860.01804,
 32306.28587,
 4655.392106,
 5326.501981,
 6513.612638,
 3491.741616,
 7870.360084,
 4274.618943,
 7189.106255,
 11315.20373,
 2480.529264,
 7344.836277,
 6974.922464,
 20096.89337,
 ...]

In [140]:
insurance_df['number of open complaints'].replace({'nan':'8028.803803'}, inplace=True)

In [141]:
insurance_df['number of open complaints'].unique().tolist()

[nan,
 3479.137523,
 2502.637401,
 3265.156348,
 4455.843406,
 7704.95848,
 2750.705045,
 13024.13012,
 2538.62632,
 2585.955652,
 5096.673223,
 10083.48688,
 4943.386117,
 6516.214888,
 8838.085637,
 3810.238281,
 6334.466403,
 11665.09779,
 10972.06778,
 6006.963446,
 2656.713092,
 2359.423599,
 12036.62051,
 8467.387317,
 9392.557553,
 5227.230377,
 2693.75925,
 2227.072755,
 2326.864833,
 16794.31422,
 5016.827946,
 7757.924239,
 8609.158215,
 5275.056933,
 5746.32619,
 2705.987629,
 6186.265217,
 22445.28088,
 6277.844624,
 7215.821106,
 6514.430592,
 34708.87261,
 4216.19522,
 13158.37206,
 2917.539465,
 6355.678846,
 13269.59942,
 5880.256499,
 5926.729379,
 4121.252137,
 7956.152761,
 24127.50402,
 26864.20332,
 31934.62164,
 5132.684537,
 4759.624343,
 2637.942355,
 6503.397049,
 12786.66898,
 3147.973444,
 5618.485357,
 3230.576665,
 7434.675149,
 11714.78278,
 2009.772923,
 6625.472768,
 9567.711298,
 18474.71111,
 12157.32992,
 2956.358303,
 3963.394851,
 10896.04838,
 6081.048248,
 30141.61738,
 5737.233278,
 16979.79757,
 10915.35877,
 3808.122147,
 5408.911507,
 13419.39623,
 3237.996209,
 10357.62776,
 11619.91802,
 8209.054963,
 3096.511217,
 4804.35851,
 4786.054889,
 15886.03136,
 5285.079293,
 2945.370362,
 18089.79629,
 10208.92761,
 20708.25881,
 5247.852585,
 5179.55248,
 4513.435299,
 5297.625945,
 5377.014781,
 7661.388132,
 2677.279707,
 6877.817669,
 5714.232848,
 4929.549699,
 10484.91535,
 9490.406534,
 7805.31287,
 21274.34205,
 5838.89915,
 2677.495763,
 2374.798861,
 22103.5072,
 2427.770513,
 7294.40195,
 11360.46496,
 2811.956395,
 4386.277558,
 6446.918637,
 8427.172486,
 5290.127299,
 5592.455266,
 18892.19767,
 13623.62257,
 25464.82059,
 2175.624856,
 6699.222525,
 9043.678095,
 4369.041685,
 51337.90677,
 28699.89392,
 4270.034394,
 5345.994644,
 4774.747415,
 14727.50526,
 4755.47946,
 3436.134281,
 8355.774443,
 3412.566597,
 6185.337641,
 8456.722498,
 3021.938522,
 6966.142868,
 2539.990699,
 8456.455313,
 26576.31541,
 10963.95723,
 9671.98323,
 1898.683686,
 8595.146838,
 5532.753182,
 9371.773682,
 3975.321516,
 4456.016549,
 3495.891476,
 8512.13221,
 4650.063763,
 13523.12989,
 4422.409799,
 7320.98824,
 7031.463693,
 5123.484988,
 9050.756606,
 6039.020697,
 2108.493744,
 9875.092794,
 6928.601611,
 14318.44839,
 5107.071054,
 17223.89108,
 7516.831717,
 5389.499465,
 6275.155361,
 4722.237214,
 6282.317743,
 7986.191274,
 6503.219978,
 4881.753428,
 2514.59196,
 7955.442668,
 4809.21696,
 9696.548818,
 8709.321889,
 2858.452328,
 5233.949019,
 13494.76017,
 6870.607058,
 5652.72374,
 2345.262087,
 19688.31898,
 7247.206475,
 6085.304178,
 5480.070226,
 6876.309925,
 5368.887709,
 8283.066678,
 5384.671725,
 3508.569533,
 4553.809528,
 4318.433036,
 14091.19449,
 8693.631249,
 6661.181553,
 2654.380994,
 4428.031583,
 5738.277584,
 5815.049178,
 4425.905071,
 2574.020376,
 2832.513487,
 4876.315707,
 5181.620895,
 5947.215835,
 2563.863345,
 15144.40954,
 5558.304507,
 8109.364607,
 15638.57599,
 8334.317162,
 10418.31143,
 6846.150323,
 9403.875138,
 16985.49688,
 21101.21422,
 2914.955295,
 8593.866533,
 6861.745956,
 2680.900678,
 15797.98978,
 2863.312165,
 30061.69259,
 10682.7619,
 2746.90319,
 2388.949198,
 13776.74135,
 17263.64048,
 4669.22664,
 4673.196379,
 4347.591949,
 33873.18123,
 9100.787395,
 6358.251692,
 2628.468543,
 7193.101159,
 5039.869278,
 3962.825542,
 6425.709981,
 15672.69696,
 12992.27561,
 22217.96796,
 4931.258363,
 4330.38602,
 8296.176276,
 8334.359986,
 5348.071007,
 2398.740007,
 6622.05254,
 4155.946211,
 8430.059143,
 2545.518369,
 5004.583872,
 2899.702858,
 6767.806751,
 3123.080994,
 8184.691323,
 7636.279594,
 9227.567263,
 7587.337272,
 2191.133237,
 5004.135361,
 4794.931261,
 26730.06042,
 4260.765808,
 15477.27854,
 5126.836814,
 4068.092649,
 17712.20524,
 9775.816061,
 20534.39224,
 5800.188903,
 3319.620511,
 6529.431827,
 7602.663689,
 2839.808041,
 3288.209809,
 15031.5645,
 5055.902381,
 8012.917253,
 8300.70769,
 2516.103555,
 2749.407985,
 8071.334962,
 2867.312197,
 7285.030983,
 4118.588554,
 5293.368089,
 13265.96256,
 2369.439009,
 9816.528302,
 21914.40548,
 5143.88351,
 3136.698216,
 7713.819259,
 11516.40557,
 15025.19126,
 4013.849907,
 3288.825448,
 13736.1325,
 3890.87081,
 5701.277221,
 2590.214327,
 3223.331519,
 4912.025292,
 6532.010543,
 8012.124825,
 3731.504584,
 2702.380487,
 23207.24981,
 3347.028677,
 8382.630118,
 11793.12528,
 2965.71995,
 5646.323845,
 2452.491364,
 5953.213546,
 12883.81001,
 2471.528431,
 2927.07045,
 8400.788878,
 2729.126448,
 7643.068919,
 2493.591571,
 4170.572119,
 4908.207958,
 3891.583881,
 2682.423898,
 10003.24729,
 13094.60875,
 5719.785738,
 9393.968332,
 3433.82408,
 4932.878744,
 13610.10746,
 2913.323811,
 5111.304579,
 4540.381153,
 5598.273622,
 9638.066778,
 9801.287358,
 5504.139033,
 8447.801005,
 19927.63513,
 5815.261714,
 18690.34066,
 7224.235434,
 8595.982289,
 12362.08766,
 4916.303715,
 8935.274872,
 5433.214031,
 4847.24253,
 5714.165863,
 10097.68732,
 4726.869327,
 7079.790277,
 5395.434909,
 9452.996411,
 5284.312599,
 20215.3918,
 2510.054168,
 19884.91592,
 4014.453113,
 2540.689797,
 27382.81893,
 4875.31604,
 12324.2654,
 2280.386988,
 4165.994433,
 4974.801539,
 2404.917967,
 3032.816016,
 2891.272351,
 15261.41386,
 5015.009472,
 5325.394799,
 5291.395332,
 16107.19004,
 7605.637524,
 3065.365332,
 6245.575806,
 9406.381948,
 7815.46882,
 9747.99401,
 4686.469674,
 8869.619888,
 4741.808942,
 24178.68478,
 7951.777533,
 6762.082924,
 3044.78946,
 5908.16294,
 4574.547243,
 8377.499751,
 22332.43946,
 7577.065297,
 8012.841201,
 9217.978125,
 2749.189304,
 3588.87609,
 3954.538361,
 5158.648497,
 2776.582901,
 12836.00951,
 28421.57022,
 2276.392936,
 3895.961837,
 4247.683347,
 6005.847375,
 2719.506996,
 4185.757242,
 33473.34946,
 7331.508054,
 9320.284812,
 3312.323945,
 5560.278162,
 8214.602384,
 8647.139152,
 4446.738622,
 7769.841954,
 3911.118202,
 2731.520409,
 8401.788653,
 5875.038074,
 6188.379423,
 4506.577736,
 10548.53703,
 35203.57475,
 8193.750001,
 5313.436344,
 4379.770178,
 20885.55547,
 2771.963072,
 5461.548993,
 2570.235172,
 5394.000979,
 2300.691547,
 25360.10404,
 4374.038985,
 4953.358432,
 4590.811214,
 5062.37379,
 9075.768214,
 8133.157212,
 2869.301319,
 27937.75093,
 2606.186321,
 7764.273102,
 18380.39026,
 6102.953572,
 9191.672825,
 9581.281433,
 7532.262392,
 2795.321353,
 5673.840992,
 15016.18511,
 3087.249746,
 5480.701059,
 7944.973807,
 8543.247323,
 5380.898636,
 36946.06393,
 3314.55133,
 4566.377261,
 5597.12496,
 2540.551456,
 2939.330187,
 16068.34838,
 7360.873696,
 2700.985899,
 3095.705571,
 4383.751482,
 9928.874825,
 2399.17815,
 3402.777293,
 8711.302422,
 4358.762008,
 2551.226692,
 5642.747998,
 4151.667368,
 2842.025913,
 8791.444942,
 8268.272933,
 8581.637267,
 5244.40475,
 8509.019846,
 4743.615503,
 22754.66137,
 5335.015944,
 6966.319103,
 21205.37785,
 4271.200049,
 5580.818466,
 2224.089639,
 2709.539796,
 2890.338106,
 6403.577368,
 5981.381645,
 6225.022266,
 8496.358981,
 10213.99111,
 4547.162694,
 5741.696078,
 2388.353882,
 12624.96121,
 8382.478392,
 4964.666365,
 2871.437451,
 13080.78528,
 2482.411991,
 2726.834065,
 4776.186527,
 6091.89923,
 9035.671134,
 4381.880534,
 5775.517825,
 4250.282624,
 2347.048112,
 6940.069184,
 2572.506605,
 41491.74481,
 3571.346578,
 12734.21253,
 4529.112791,
 4177.876779,
 9824.745841,
 2430.801647,
 19160.98994,
 3301.518961,
 4692.098956,
 8092.87696,
 3964.534974,
 2497.531509,
 9656.212573,
 8888.143979,
 7347.410517,
 8578.364528,
 3467.323976,
 8901.468512,
 2619.337376,
 10127.77087,
 4633.452912,
 7796.000083,
 2993.024583,
 7985.472561,
 2722.210707,
 2783.583044,
 8649.997286,
 4652.91278,
 8395.806331,
 8804.53711,
 7155.337765,
 3954.344534,
 15032.9003,
 8257.666512,
 9256.918609,
 6507.751779,
 2530.705137,
 5482.549359,
 4050.506193,
 6326.679236,
 2627.76229,
 7814.604545,
 6314.579645,
 6386.278164,
 2537.969253,
 5335.375586,
 4549.079221,
 4836.21886,
 6478.801192,
 35440.14262,
 2404.380963,
 9264.565015,
 2433.024631,
 5367.089817,
 2452.360892,
 8646.504109,
 4340.086445,
 4930.949334,
 5292.632491,
 8986.610653,
 5619.967791,
 10340.45566,
 6369.262355,
 2767.5949,
 4831.421687,
 4282.947971,
 5718.276608,
 2580.849899,
 6481.382268,
 5133.414764,
 9369.639891,
 3196.578455,
 4720.608872,
 8861.900439,
 6032.737631,
 6832.36853,
 2242.090803,
 4157.698118,
 6189.122455,
 5643.724704,
 5332.462694,
 2121.313061,
 8281.740124,
 7835.929299,
 2552.913868,
 2795.410029,
 8007.399376,
 6886.324494,
 5106.781547,
 5612.375586,
 5658.912313,
 7263.599744,
 8712.157741,
 9198.685111,
 5162.370678,
 6289.946999,
 3649.708655,
 6766.558551,
 4631.011293,
 6810.52531,
 9378.634228,
 15762.53198,
 2635.505781,
 5741.72743,
 8414.942855,
 9123.911266,
 15994.008,
 9022.08313,
 4759.664624,
 3993.882994,
 18853.73945,
 8840.193762,
 6696.903521,
 8476.082867,
 5205.748188,
 6141.961623,
 4376.363592,
 12375.02163,
 3451.10244,
 8107.26533,
 8662.048958,
 8696.907111,
 2535.266473,
 5633.741543,
 5176.730072,
 5531.723723,
 2810.671023,
 2780.729047,
 2572.452634,
 7664.219255,
 3839.746159,
 2509.268453,
 14566.09246,
 3220.775528,
 3199.824902,
 16045.10952,
 4918.916267,
 5623.757656,
 5677.465907,
 3016.444225,
 5279.124682,
 4803.935174,
 2608.786334,
 7832.569008,
 4260.33573,
 2369.369299,
 20604.01627,
 2652.067994,
 2597.864075,
 7712.436971,
 4698.88415,
 3403.919366,
 4355.702301,
 11095.97445,
 3300.684961,
 6981.081694,
 16922.12519,
 7639.670244,
 19237.77089,
 2915.649943,
 4196.429642,
 16473.16905,
 2657.570431,
 3267.709691,
 2584.532849,
 5503.919257,
 8021.067105,
 19606.35999,
 1904.000852,
 7288.297591,
 5553.521059,
 11702.34819,
 36897.79765,
 2957.102851,
 19643.54421,
 4111.888285,
 15122.99194,
 12807.09083,
 2500.241685,
 4260.709139,
 2609.533154,
 10796.44832,
 2590.654042,
 29199.81072,
 4194.659772,
 10314.52484,
 9028.307862,
 6089.517361,
 12827.42831,
 9135.291575,
 7902.681227,
 14827.91055,
 2500.834374,
 5395.346288,
 2651.615963,
 2119.894333,
 7155.471967,
 5994.226432,
 22647.21772,
 2833.797966,
 5846.41534,
 2867.211836,
 14435.66453,
 5237.477743,
 7710.912153,
 5158.576449,
 5414.897604,
 2903.749709,
 5575.751228,
 2616.409509,
 4617.838205,
 20123.86854,
 3200.795405,
 8583.854913,
 4349.30875,
 4729.593583,
 5797.604861,
 3475.07136,
 8542.218196,
 6776.353402,
 9713.156737,
 4429.193391,
 2435.535995,
 9863.502214,
 8207.858272,
 2781.446975,
 5807.994569,
 8395.272249,
 14333.92489,
 11003.54385,
 4049.807215,
 2141.750757,
 5079.843625,
 2895.522489,
 9031.214859,
 6554.390004,
 7487.744636,
 15118.89548,
 9007.431501,
 5488.931031,
 7234.142952,
 5205.751205,
 4697.152892,
 6207.171358,
 6615.815683,
 9708.504642,
 10831.13004,
 4626.801093,
 6748.231188,
 2542.06388,
 5450.394878,
 7243.865476,
 8306.550901,
 2734.514945,
 11030.66148,
 3402.39442,
 6945.016955,
 2568.843396,
 5764.648599,
 5403.546122,
 4899.231772,
 9048.983447,
 8093.898245,
 2496.766693,
 2602.24525,
 6751.437153,
 3621.68883,
 6896.088021,
 5438.696611,
 14472.583,
 5323.267311,
 7390.903278,
 11447.5071,
 5754.853121,
 10244.2435,
 4645.569555,
 4887.344366,
 2497.808174,
 2369.111588,
 4490.597249,
 3719.247732,
 4198.030023,
 2420.711888,
 4462.997006,
 6291.655714,
 2460.665175,
 19435.62924,
 7374.077921,
 18269.53692,
 11925.71535,
 4223.274671,
 10298.38586,
 5229.741907,
 2402.81597,
 3933.813993,
 4299.838835,
 7635.554626,
 7291.599536,
 58753.88046,
 5261.037541,
 16938.29858,
 10575.94816,
 5552.331515,
 7150.225367,
 8717.049833,
 6847.588918,
 5418.726537,
 3528.044252,
 16468.22079,
 16963.83934,
 5807.659307,
 5068.264582,
 8797.829644,
 4439.900652,
 2404.459452,
 5066.634057,
 5890.528762,
 2410.498573,
 5288.240125,
 26413.54751,
 16236.47626,
 5534.576395,
 9202.638441,
 2592.437797,
 8019.856041,
 6943.741598,
 13367.86562,
 5885.335302,
 3479.760165,
 9103.8997,
 4813.284447,
 9575.7578,
 8090.884414,
 8267.119555,
 2489.16729,
 2395.57,
 3863.309585,
 5173.485319,
 4984.618655,
 2396.192355,
 2631.87754,
 6993.838856,
 15055.53836,
 3401.881747,
 4126.61326,
 9320.090224,
 3663.740198,
 4962.208409,
 2816.758764,
 4330.769101,
 8262.879764,
 4666.643522,
 5876.054314,
 8427.723769,
 13023.9329,
 8209.59982,
 2464.238061,
 2727.520769,
 3086.013544,
 22067.728,
 4836.054291,
 6912.03963,
 2570.761765,
 2991.696011,
 8253.266591,
 10477.77713,
 16373.7273,
 5184.94945,
 10634.83711,
 15114.40241,
 11875.89915,
 4369.496687,
 7432.856752,
 2558.762931,
 5452.171237,
 2968.077571,
 15700.28436,
 7477.176362,
 9407.452895,
 4428.038374,
 10053.55227,
 2907.898828,
 7644.763153,
 9709.746073,
 8439.615236,
 4209.682602,
 8556.418397,
 26770.44534,
 16265.58682,
 3624.901612,
 2519.918897,
 4819.183706,
 3028.780121,
 2316.796105,
 13869.92705,
 25807.063,
 2342.01381,
 2747.771656,
 5479.555081,
 9199.539814,
 8060.161694,
 6686.128629,
 4709.52218,
 2685.425957,
 3920.511337,
 5493.698779,
 8521.738901,
 2414.072446,
 5918.330563,
 7519.133631,
 4472.334422,
 5531.627731,
 8435.176463,
 10196.1106,
 20552.62128,
 3915.798108,
 6010.502178,
 2854.114491,
 5994.255419,
 4477.45201,
 5544.909083,
 3600.934326,
 9934.865795,
 6874.84827,
 2374.147419,
 9162.063169,
 7380.086414,
 2655.996158,
 7591.109246,
 4603.975141,
 5641.35916,
 5463.913828,
 4866.647452,
 2779.85389,
 4563.018085,
 14376.55039,
 2279.747148,
 5380.316469,
 8708.27928,
 18611.45356,
 2215.912948,
 7780.903354,
 2860.864563,
 5577.942343,
 7268.096004,
 4060.956163,
 7813.411572,
 4762.156975,
 14166.20344,
 4354.398727,
 2880.348532,
 19185.0725,
 5329.075482,
 4883.805481,
 4510.194071,
 15304.51777,
 5237.935672,
 15119.55539,
 5860.01804,
 32306.28587,
 4655.392106,
 5326.501981,
 6513.612638,
 3491.741616,
 7870.360084,
 4274.618943,
 7189.106255,
 11315.20373,
 2480.529264,
 7344.836277,
 6974.922464,
 20096.89337,
 ...]

In [143]:
mean_number_of_open_complaints = np.mean(insurance_df['number of open complaints'])

In [144]:
insurance_df['number of open complaints'] = insurance_df['number of open complaints'].fillna(mean_number_of_open_complaints)

In [146]:
insurance_df['number of open complaints'].isna()==True

0       False
1       False
2       False
3       False
4       False
        ...
7065    False
7066    False
7067    False
7068    False
7069    False
Name: number of open complaints, Length: 12074, dtype: bool

Replace the nan in the column 'customer lifetime value'

In [147]:
mean_customer_lifetime_value = np.mean(insurance_df['customer lifetime value'])

In [148]:
insurance_df['customer lifetime value'] = insurance_df['customer lifetime value'].fillna(mean_customer_lifetime_value)

In [149]:
insurance_df['customer lifetime value'].isna()==True

0       False
1       False
2       False
3       False
4       False
        ...
7065    False
7066    False
7067    False
7068    False
7069    False
Name: customer lifetime value, Length: 12074, dtype: bool

#### Bucketing the data

Replace the names in the column 'State' with the different zones

In [156]:
insurance_df['state'].replace({'California': 'West Region', 'Oregon':'North West', 'Washington': 'East', 'Arizona':'Central', 'Nevada':'Central'}, inplace=True)

In [157]:
insurance_df

,state,gender,education,income,customer lifetime value,vehicle class,monthly premium auto,policy type,number of open complaints,total claim amount
0,East,NaN,Master,0.0,8028.803803,Four-Door Car,1000.0,Personal Auto,8028.803803,2.704934
1,Central,F,Bachelor,0.0,8028.803803,Four-Door Car,94.0,Personal Auto,8028.803803,1131.464935
2,Central,F,Bachelor,48767.0,8028.803803,Two-Door Car,108.0,Personal Auto,8028.803803,566.472247
3,West Region,M,Bachelor,0.0,8028.803803,SUV,106.0,Corporate Auto,8028.803803,529.881344
4,East,M,High School or Below,36357.0,8028.803803,Four-Door Car,68.0,Personal Auto,8028.803803,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,West Region,M,Bachelor,71941.0,23405.987980,Four-Door Car,73.0,Personal Auto,23405.987980,198.234764
7066,West Region,F,College,21604.0,3096.511217,Four-Door Car,79.0,Corporate Auto,3096.511217,379.200000
7067,West Region,M,Bachelor,0.0,8163.890428,Four-Door Car,85.0,Corporate Auto,8163.890428,790.784983
7068,West Region,M,College,21941.0,7524.442436,Four-Door Car,96.0,Personal Auto,7524.442436,691.200000
7069,West Region,M,College,0.0,2611.836866,Two-Door Car,77.0,Corporate Auto,2611.836866,369.600000

Standardizing the data - Use string functions to standardize the text data (lower case)

In [173]:
categorical_columns_df = insurance_df.select_dtypes('object')

In [175]:
categorical_columns_df

            state gender             education  vehicle class     policy type
0            East    NaN                Master  Four-Door Car   Personal Auto
1         Central      F              Bachelor  Four-Door Car   Personal Auto
2         Central      F              Bachelor   Two-Door Car   Personal Auto
3     West Region      M              Bachelor            SUV  Corporate Auto
4            East      M  High School or Below  Four-Door Car   Personal Auto
...           ...    ...                   ...            ...             ...
7065  West Region      M              Bachelor  Four-Door Car   Personal Auto
7066  West Region      F               College  Four-Door Car  Corporate Auto
7067  West Region      M              Bachelor  Four-Door Car  Corporate Auto
7068  West Region      M               College  Four-Door Car   Personal Auto
7069  West Region      M               College   Two-Door Car  Corporate Auto

[12074 rows x 5 columns]

In [177]:
categorical_columns_df.apply(lambda x: x.astype(str).str.lower())

            state gender             education  vehicle class     policy type
0            east    nan                master  four-door car   personal auto
1         central      f              bachelor  four-door car   personal auto
2         central      f              bachelor   two-door car   personal auto
3     west region      m              bachelor            suv  corporate auto
4            east      m  high school or below  four-door car   personal auto
...           ...    ...                   ...            ...             ...
7065  west region      m              bachelor  four-door car   personal auto
7066  west region      f               college  four-door car  corporate auto
7067  west region      m              bachelor  four-door car  corporate auto
7068  west region      m               college  four-door car   personal auto
7069  west region      m               college   two-door car  corporate auto

[12074 rows x 5 columns]

In [ ]:
#def lower_case_column_names(insurance_df):
    #insurance_df.columns=[i. lower() for i in insurance_df.columns]
    #return insurance_df

In [167]:
#def lower_case(object_columns):
    #object_columns = [i.lower() for i in object_columns]
    #return insurance_df

In [168]:
#lower_case(object_columns)

,state,gender,education,income,customer lifetime value,vehicle class,monthly premium auto,policy type,number of open complaints,total claim amount
0,East,NaN,Master,0.0,8028.803803,Four-Door Car,1000.0,Personal Auto,8028.803803,2.704934
1,Central,F,Bachelor,0.0,8028.803803,Four-Door Car,94.0,Personal Auto,8028.803803,1131.464935
2,Central,F,Bachelor,48767.0,8028.803803,Two-Door Car,108.0,Personal Auto,8028.803803,566.472247
3,West Region,M,Bachelor,0.0,8028.803803,SUV,106.0,Corporate Auto,8028.803803,529.881344
4,East,M,High School or Below,36357.0,8028.803803,Four-Door Car,68.0,Personal Auto,8028.803803,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,West Region,M,Bachelor,71941.0,23405.987980,Four-Door Car,73.0,Personal Auto,23405.987980,198.234764
7066,West Region,F,College,21604.0,3096.511217,Four-Door Car,79.0,Corporate Auto,3096.511217,379.200000
7067,West Region,M,Bachelor,0.0,8163.890428,Four-Door Car,85.0,Corporate Auto,8163.890428,790.784983
7068,West Region,M,College,21941.0,7524.442436,Four-Door Car,96.0,Personal Auto,7524.442436,691.200000
7069,West Region,M,College,0.0,2611.836866,Two-Door Car,77.0,Corporate Auto,2611.836866,369.600000

#### Activity 3

Numerical columns:

In [171]:
numerical_columns_df = insurance_df.select_dtypes(include=np.number)

or: dataframe.get_numeric_data()

In [172]:
numerical_columns_df

,income,customer lifetime value,monthly premium auto,number of open complaints,total claim amount
0,0.0,8028.803803,1000.0,8028.803803,2.704934
1,0.0,8028.803803,94.0,8028.803803,1131.464935
2,48767.0,8028.803803,108.0,8028.803803,566.472247
3,0.0,8028.803803,106.0,8028.803803,529.881344
4,36357.0,8028.803803,68.0,8028.803803,17.269323
...,...,...,...,...,...
7065,71941.0,23405.987980,73.0,23405.987980,198.234764
7066,21604.0,3096.511217,79.0,3096.511217,379.200000
7067,0.0,8163.890428,85.0,8163.890428,790.784983
7068,21941.0,7524.442436,96.0,7524.442436,691.200000
7069,0.0,2611.836866,77.0,2611.836866,369.600000

Categorical columns:

In [176]:
categorical_columns_df

            state gender             education  vehicle class     policy type
0            East    NaN                Master  Four-Door Car   Personal Auto
1         Central      F              Bachelor  Four-Door Car   Personal Auto
2         Central      F              Bachelor   Two-Door Car   Personal Auto
3     West Region      M              Bachelor            SUV  Corporate Auto
4            East      M  High School or Below  Four-Door Car   Personal Auto
...           ...    ...                   ...            ...             ...
7065  West Region      M              Bachelor  Four-Door Car   Personal Auto
7066  West Region      F               College  Four-Door Car  Corporate Auto
7067  West Region      M              Bachelor  Four-Door Car  Corporate Auto
7068  West Region      M               College  Four-Door Car   Personal Auto
7069  West Region      M               College   Two-Door Car  Corporate Auto

[12074 rows x 5 columns]