# Using Pandas

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [4]:
vehicles_df = pd.read_csv("data/vehicles.csv")
vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [5]:
## Describing the data frame
vehicles_df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [7]:
#Use df.info() to explore the data
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [8]:
#To count values in a specific column
vehicles_df.Make.value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
BMW                                   1677
Mercedes-Benz                         1284
Nissan                                1253
Volkswagen                            1047
Mitsubishi                             950
Mazda                                  915
Audi                                   890
Porsche                                862
Honda                                  836
Jeep                                   829
Pontiac                                784
Subaru                                 781
Volvo                                  717
Hyundai                                662
Chrysler                               641
Buick                                  537
Mercury                                532
Suzuki                                 512
Cadillac                               508
Kia                                    493
Plymouth                               456
Saab                                   410
Isuzu                                  409
Lexus                                  397
Oldsmobile                             376
Infiniti                               345
Jaguar                                 343
MINI                                   320
Acura                                  302
Saturn                                 278
Lincoln                                273
Ferrari                                208
Rolls-Royce                            160
Eagle                                  156
Geo                                    144
Land Rover                             142
Aston Martin                           133
Bentley                                116
Maserati                               111
Lamborghini                            104
Scion                                   83
Peugeot                                 74
Daewoo                                  67
Ram                                     57
Lotus                                   53
Roush Performance                       53
Fiat                                    43
Alfa Romeo                              41
J.K. Motors                             36
Renault                                 33
Wallace Environmental                   32
Maybach                                 31
American Motors Corporation             22
smart                                   20
Hummer                                  19
Daihatsu                                17
CX Automotive                           16
Merkur                                  14
Federal Coach                           14
Spyker                                  13
Import Trade Services                   13
McLaren Automotive                      13
Sterling                                12
Yugo                                     8
Bugatti                                  8
Genesis                                  7
Tecstar, LP                              6
Mcevoy Motors                            6
Saleen                                   5
VPG                                      5
Bertone                                  5
AM General                               4
Vector                                   4
TVR Engineering Ltd                      4
Grumman Olson                            4
Panther Car Company Limited              4
Autokraft Limited                        4
Texas Coach Company                      4
Saleen Performance                       4
Morgan                                   3
Evans Automobiles                        3
BMW Alpina                               3
Dacia                                    3
Dabryan Coach Builders Inc               3
Bitter Gmbh and Co. Kg                   3
Consulier Industries Inc                 3
Mobility Ventures LLC                    2
Pagani                                   2
PAS Inc - GMC                            2
Laforza Automobile Inc                   2
Bill Dovell Motor Car Company            2
CCC Engineering                          2
Ruf Automobile Gmbh                      2
PAS, Inc                                 2
SRT                                      2
Quantum Technologies                     2
Red Shift Ltd.                           2
Pininfarina                              2
Superior Coaches Div E.p. Dutton         1
Fisker                                   1
ASC Incorporated                         1
Goldacre                                 1
Vixen Motor Company                      1
London Taxi                              1
Shelby                                   1
Aurora Cars Ltd                          1
General Motors                           1
Excalibur Autos                          1
Grumman Allied Industries                1
Qvale                                    1
Environmental Rsch and Devp Corp         1
Import Foreign Auto Sales Inc            1
London Coach Co Inc                      1
E. P. Dutton, Inc.                       1
Panoz Auto-Development                   1
Volga Associated Automobile              1
Mahindra                                 1
S and S Coach Company  E.p. Dutton       1
Lambda Control Systems                   1
Isis Imports Ltd                         1
JBA Motorcars, Inc.                      1
Panos                                    1
Name: Make, dtype: int64

In [9]:
#To find the values
vehicles_df.values

array([['AM General', 'DJ Po Vehicle 2WD', 1984, ..., 17,
        522.7647058823529, 1950],
       ['AM General', 'FJ8c Post Office', 1984, ..., 13,
        683.6153846153846, 2550],
       ['AM General', 'Post Office DJ5 2WD', 1985, ..., 16, 555.4375,
        2100],
       ...,
       ['smart', 'fortwo coupe', 2015, ..., 36, 244.0, 1100],
       ['smart', 'fortwo coupe', 2016, ..., 36, 246.0, 1100],
       ['smart', 'fortwo coupe', 2016, ..., 35, 255.0, 1150]],
      dtype=object)

In [11]:
#See if there are missing values
missing_values = vehicles_df.isnull()
missing_values.sum()

Make                       0
Model                      0
Year                       0
Engine Displacement        0
Cylinders                  0
Transmission               0
Drivetrain                 0
Vehicle Class              0
Fuel Type                  0
Fuel Barrels/Year          0
City MPG                   0
Highway MPG                0
Combined MPG               0
CO2 Emission Grams/Mile    0
Fuel Cost/Year             0
dtype: int64

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [24]:
#Replace all brand names that contain the word"Dutton" for simply "Dutton"
vehicles_df.loc[vehicles_df["Make"].str.contains('Dutton') == True, "Make"] = "Dutton"

#Show if it is replaced
vehicles_df["Make"][vehicles_df["Make"].str.contains('Dutton')]

#Clean the other names too
vehicles_df.loc[vehicles_df["Make"].str.contains('BMW') == True, "Make"] = "BMW"
vehicles_df.loc[vehicles_df["Make"].str.contains('Saleen') == True, "Make"] = "Saleen"
vehicles_df.loc[vehicles_df["Make"].str.contains('PAS') == True, "Make"] = "PAS"
vehicles_df.loc[vehicles_df["Make"].str.contains('Panos') == True, "Make"] = "Panoz Auto Development"

#Count the values of the column Make to see if it was replaced
print(vehicles_df["Make"].value_counts())

11012    Dutton
30164    Dutton
31754    Dutton
Name: Make, dtype: object

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1680
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Spyker                                13
Import Trade Services                 13
McLaren Automotive                    13
Sterling                              12
Saleen                                 9
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Autokraft Limited                      4
TVR Engineering Ltd                    4
Panther Car Company Limited            4
Vector                                 4
PAS                                    4
Texas Coach Company                    4
Grumman Olson                          4
AM General                             4
Consulier Industries Inc               3
Dacia                                  3
Dabryan Coach Builders Inc             3
Evans Automobiles                      3
Dutton                                 3
Morgan                                 3
Bitter Gmbh and Co. Kg                 3
SRT                                    2
Ruf Automobile Gmbh                    2
Pagani                                 2
CCC Engineering                        2
Pininfarina                            2
Red Shift Ltd.                         2
Mobility Ventures LLC                  2
Laforza Automobile Inc                 2
Bill Dovell Motor Car Company          2
Quantum Technologies                   2
JBA Motorcars, Inc.                    1
ASC Incorporated                       1
London Taxi                            1
Excalibur Autos                        1
Shelby                                 1
Fisker                                 1
Isis Imports Ltd                       1
General Motors                         1
London Coach Co Inc                    1
Import Foreign Auto Sales Inc          1
Panoz Auto Development                 1
Goldacre                               1
Lambda Control Systems                 1
Vixen Motor Company                    1
Aurora Cars Ltd                        1
Grumman Allied Industries              1
Mahindra                               1
Volga Associated Automobile            1
Panoz Auto-Development                 1
Environmental Rsch and Devp Corp       1
Qvale                                  1
Name: Make, dtype: int64

In [43]:
#Convert CO2 Emissions from Grams/Mile to Grams/Km
print(vehicles_df.loc[:, "CO2 Emission Grams/Mile"])
vehicles_df.loc[:,"CO2 Emission Grams/Mile"] = vehicles_df.loc[:,"CO2 Emission Grams/Mile"] / 1.60934

0        1.076180
1        1.407312
2        1.143441
3        1.407312
4        1.143441
           ...
35947    0.502306
35948    0.500247
35949    0.502306
35950    0.506423
35951    0.524951
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [46]:
#Rename the column 'CO2 Emission Grams/Mile' to 'CO2 Emission Grams/Km'
vehicles_df.rename(columns = {"CO2 Emission Grams/Mile":"CO2 Emission Grams/Km"}, inplace = True)
print(vehicles_df.info)

<bound method DataFrame.info of                    Make                Model  Year  Engine Displacement  \
0            AM General    DJ Po Vehicle 2WD  1984                  2.5
1            AM General     FJ8c Post Office  1984                  4.2
2            AM General  Post Office DJ5 2WD  1985                  2.5
3            AM General  Post Office DJ8 2WD  1985                  4.2
4      ASC Incorporated                  GNX  1987                  3.8
...                 ...                  ...   ...                  ...
35947             smart         fortwo coupe  2013                  1.0
35948             smart         fortwo coupe  2014                  1.0
35949             smart         fortwo coupe  2015                  1.0
35950             smart         fortwo coupe  2016                  0.9
35951             smart         fortwo coupe  2016                  0.9

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35947        3.0        Auto(AM5)  Rear-Wheel Drive
35948        3.0        Auto(AM5)  Rear-Wheel Drive
35949        3.0        Auto(AM5)  Rear-Wheel Drive
35950        3.0        Auto(AM6)  Rear-Wheel Drive
35951        3.0     Manual 5-spd  Rear-Wheel Drive

                     Vehicle Class Fuel Type  Fuel Barrels/Year  City MPG  \
0      Special Purpose Vehicle 2WD   Regular          19.388824  0.250004
1      Special Purpose Vehicle 2WD   Regular          25.354615  0.180558
2      Special Purpose Vehicle 2WD   Regular          20.600625  0.222226
3      Special Purpose Vehicle 2WD   Regular          25.354615  0.180558
4                     Midsize Cars   Premium          20.600625  0.194448
...                            ...       ...                ...       ...
35947                  Two Seaters   Premium           9.155833  0.472230
35948                  Two Seaters   Premium           9.155833  0.472230
35949                  Two Seaters   Premium           9.155833  0.472230
35950                  Two Seaters   Premium           9.155833  0.472230
35951                  Two Seaters   Premium           9.417429  0.444452

       Highway MPG  Combined MPG  CO2 Emission Grams/Km  Fuel Cost/Year
0         1.306332      3.072690               0.668709            1950
1         0.998960      2.349704               0.874465            2550
2         1.306332      2.891943               0.710503            2100
3         0.998960      2.349704               0.874465            2550
4         1.613704      2.891943               0.710503            2550
...            ...           ...                    ...             ...
35947     2.920036      6.506872               0.312119            1100
35948     2.920036      6.506872               0.310840            1100
35949     2.920036      6.506872               0.312119            1100
35950     2.996879      6.506872               0.314678            1100
35951     2.996879      6.326126               0.326190            1150

[35952 rows x 15 columns]>

In [47]:
#The column was renamed
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   35952 non-null  object
 1   Model                  35952 non-null  object
 2   Year                   35952 non-null  int64
 3   Engine Displacement    35952 non-null  float64
 4   Cylinders              35952 non-null  float64
 5   Transmission           35952 non-null  object
 6   Drivetrain             35952 non-null  object
 7   Vehicle Class          35952 non-null  object
 8   Fuel Type              35952 non-null  object
 9   Fuel Barrels/Year      35952 non-null  float64
 10  City MPG               35952 non-null  float64
 11  Highway MPG            35952 non-null  float64
 12  Combined MPG           35952 non-null  float64
 13  CO2 Emission Grams/Km  35952 non-null  float64
 14  Fuel Cost/Year         35952 non-null  int64
dtypes: float64(7), int64(2), object(6)
memory usage: 4.1+ MB

In [ ]:
#Create a binary column that solely indicates if the transmission of a car is automatic or manual. 
#Use pandas.Series.str.startswith

In [25]:
#Converting MPG columns to km_per_liter
vehicles_df.loc[:,"City MPG"] = vehicles_df.loc[:,"City MPG"] * (1.60934/3.78541)

# Same with Higway MPG, Combined MPG

vehicles_df.loc[:,"Highway MPG"] = vehicles_df.loc[:,"Highway MPG"] * (1.60934/3.78541)

vehicles_df.loc[:,"Combined MPG"] = vehicles_df.loc[:,"Combined MPG"] * (1.60934/3.78541)

print(vehicles_df["City MPG"].value_counts())

0.208337    4158
0.236115    3690
0.222226    3577
0.250004    3547
0.194448    2760
0.263893    2629
0.291671    1993
0.180558    1959
0.277782    1905
0.166669    1512
0.152780    1422
0.305560    1400
0.319450    1174
0.333339     702
0.347228     603
0.138891     516
0.361117     485
0.375006     396
0.388895     298
0.125002     194
0.402784     157
0.416673     151
0.430562     151
0.111113      84
0.444452      58
0.458341      53
0.486119      44
0.472230      44
0.555564      38
0.527786      31
0.500008      31
0.513897      30
0.597232      23
0.569453      21
0.097224      20
0.541675      17
0.611121      16
0.583343      14
0.666677      12
0.708345      10
0.625010       6
0.736123       5
0.083335       5
0.680566       3
0.750012       2
0.805568       2
0.694455       2
0.652788       2
Name: City MPG, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [49]:
# How many car makers?
vehicles_df["Make"].describe

<bound method NDFrame.describe of 0              AM General
1              AM General
2              AM General
3              AM General
4        ASC Incorporated
               ...
35947               smart
35948               smart
35949               smart
35950               smart
35951               smart
Name: Make, Length: 35952, dtype: object>

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [28]:
## your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [20]:
## Your Code is here